@charset "utf-8";

#content .fl,
#content .fr {-webkit-transition:all .3s; -moz-transition:all .3s; -ms-transition:all .3s; transition:all .3s;}

/* bxSlider */
.hr-slide .bx-prev,
.hr-slide .bx-next {position:absolute; top:50%; overflow:hidden; width:2.875rem; height:5.375rem; margin-top:-2.6875rem; background:url('../image/common/btn_prev.png') no-repeat 0 0; background-size:100%; text-indent:-9999em;}
.hr-slide .bx-prev {left:2rem;}
.hr-slide .bx-next {right:2rem; background-image:url('../image/common/btn_next.png');}
.hr-slide .bx-prev:hover,
.hr-slide .bx-prev:focus {background-image:url('../image/common/btn_prev_on.png');}
.hr-slide .bx-next:hover,
.hr-slide .bx-next:focus {background-image:url('../image/common/btn_next_on.png');}
.bx-controls .disabled {display:none;}


/* Main */
.main-visual {position:relative; overflow:hidden;}
.main-visual img {display:block; max-width:100%;}
.main-visual .bx-pager {position:absolute; bottom:10%; width:100%; text-align:center;}
.main-visual .bx-pager-item {display:inline-block; margin:0 .5rem;}
.main-visual .bx-pager-link {display:block; overflow:hidden; width:1rem; height:1rem; border-radius:50%; background:#c4b79e; text-indent:-9999em;}
.main-visual .bx-pager-link.active {background:#fbb813;}
.main-visual .bx-prev,
.main-visual .bx-next {-ms-filter:alpha(opacity=90); filter:alpha(opacity=90); opacity:.9;}

.main-tit {font-size:2.25rem; font-family:YS; font-weight:400; line-height:2.25rem;}
.tit-wrap {position:relative; padding:0 1rem 2.875rem; text-align:center;}
.tit-wrap .stit {display:block; margin-top:2px; font-size:1rem; font-family:Lato;}

/* 메인 - 나드리 메뉴 */
.nadri-menu {padding-bottom:6.625rem;}
.nadri-menu .tit-wrap {padding-top:4.875rem;}
.nadri-menu .inner {position:relative; max-width:1345px; margin:0 auto;}
.nadri-menu .bx-wrapper {margin:0 6% !important;}
.nadri-menu ul {overflow:hidden;}
.nadri-menu li {float:left; width:25%;}
.nadri-menu .img-bx,
.nadri-menu .intro {position:relative; display:block; margin:0 .8125rem; text-align:center;}
.nadri-menu .img-bx {overflow:hidden;}
.nadri-menu .img-bx img {display:block; max-width:100%;}
.nadri-menu .img-bx .mask {position:absolute; left:0; top:100%; z-index:1; width:100%; height:100%; -webkit-transition:all .3s; -moz-transition:all .3s; -ms-transition:all .3s; transition:all .3s;}
.nadri-menu .img-bx .tit {position:absolute; left:0; top:50%; width:100%; margin-top:-.75rem; font-size:1.5rem; font-family:YS; font-weight:400; color:#fffaf6; line-height:1.5rem;}
.nadri-menu .img-bx:hover .mask,
.nadri-menu .img-bx:focus .mask,
.nadri-menu .on .img-bx .mask {top:0; background:rgba(0,0,0,.4);}
.nadri-menu .intro {margin-top:13px; padding-top:2.875rem;}
.nadri-menu .intro dt {padding-bottom:.25rem; border-bottom:.25rem solid #f37537; font-size:1.5rem; font-family:YS; -webkit-transition:color .3s; -moz-transition:color .3s; -ms-transition:color .3s; transition:color .3s;}
.nadri-menu .intro dd {padding-top:.625rem; font-size:1rem; line-height:1.25rem; letter-spacing:-.5px;}
.nadri-menu .on .intro dt {color:#f37537;}
.nadri-menu .btn-small {position:absolute; right:0; top:0}
.btn-small {display:inline-block; padding:0 6px; border:1px solid #786c60; border-radius:3px; font-size:9px; font-weight:900; color:#18161b; line-height:18px;}

.nadri-menu .bx-prev {left:0;}
.nadri-menu .bx-next {right:0; background-image:url('..../image/common/btn_next.png');}

/* 메인 - 나드리 창업 */
.nadri-fs {padding:5.75rem 2% 3.875rem; background:url('../image/content/bg_nadri.jpg') no-repeat 50% 0; background-attachment:fixed; background-size:cover; text-align:center;}
.nadri-fs .tit {margin-bottom:1.4375rem; font-size:1.875rem; color:#faf3e1;}
.nadri-fs .txt {font-size:1rem; font-family:NSQ; color:#fff; line-height:1.25rem;}
.nadri-found .inner {overflow:hidden; max-width:1600px; margin:0 auto; padding-top:3.75rem;}
.nadri-found .fl {width:50%; padding-left:13.5%; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
.nadri-found .fr {position:relative; width:50%; height:770px; background:url('../image/content/bg_pork_cutlet.png') no-repeat 22px 0;}
.nadri-found .fr.fadeEff {transition-delay:.5s !important;}
.nadri-found .tel-num {display:block; margin:1.25rem 0 1.875rem 3px; padding:0 0 8px 78px; background:url('../image/common/bg_tel.png') no-repeat 0 100%; font-size:3.75rem; color:#f37537;}

.chk-li li {padding:3.5px 0 3.5px 24px; background:url('../image/common/ico_chk.png') no-repeat 0 5px; font-size:1rem; color:#595757;}
.nadri-found .chk-li {margin:0 1.1875rem; word-break:keep-all;}
.nadri-found .btn-st {margin:1.125rem 0 0 1.375rem;}

.nadri-found .sms {position:absolute; left:0; bottom:0; height:476px; background:url('../image/content/bg_contact.png') no-repeat 100% 100%; font-size:12px; font-weight:700; color:#fff; text-align:center;}
.nadri-found .sms .inpBx {position:relative; width:160px; height:36px; margin-bottom:7px; font-size:14px;}
.nadri-found .sms .inpBx label {position:absolute; left:.8125rem; top:10px; font-style:italic; color:#c4b79e; cursor:text;}
.nadri-found .sms .inpBx input {width:130px; height:36px; padding:0 .9375rem; border:none; background:#faf3e1; font-family:inherit; color:#786c60;}
.nadri-found .btn-contact {display:block; min-width:160px; height:40px; margin-top:7px; background:none;}
.nadri-found .btn-contact img {display:block;}

/* 메인 - 나드리 미디어 */
.nadri-media {margin-top:-11rem;}
.nadri-media .tit-wrap {padding-bottom:7.25rem;}
.nadri-media .bg {position:relative; background:url('../image/common/bg_paper.jpg') no-repeat 50% 0; background-size:cover;}
.nadri-media .inner {max-width:1170px; margin:0 auto;}
.nadri-media .bx-viewport {height:36.625rem !important;}
.nadri-media ul {margin-left:8.125rem; padding-bottom:3.875rem;}
.nadri-media li {position:relative; min-height:12.5rem; padding:3.875rem 1.75rem 0 8.125rem;}
.nadri-media .thum {display:block; overflow:hidden; width:12.375rem; height:12.375rem; margin:0 auto; border:1px solid #c4b79e; border-radius:50%; text-align:center;}
.nadri-media .thum img {margin-left:-50%;}
.nadri-media .posts {font-size:1rem; font-weight:700; color:#7d7d7d; line-height:1.25rem;}
.nadri-media .subj {margin:0 0 1.25rem -3px; font-size:1.25rem; color:#333;}
.nadri-media .subj:after {content:''; display:block; width:5.25rem; height:.25rem; margin:.6875rem 0 0 3px; background:#f4811f;}
.nadri-media .posts p {overflow:hidden; height:5rem;}
.nadri-media .media {display:block; margin:0 0 6px 2px;}
.nadri-media .media,
.nadri-media .link {font-size:.875rem; font-weight:900; color:#f4811f;}
.nadri-media .link {display:inline-block; margin:1rem 0 0 2px;}

.nadri-media .bx-controls-direction {position:absolute; left:50%; top:-4.6875rem; margin-left:-3.125rem;}
.nadri-media .bx-prev,
.nadri-media .bx-next {float:right; overflow:hidden; width:3rem; height:3rem; border:1px solid #c4b79e; background:#fff url('../image/common/btn_down.png') no-repeat 50% 50%; text-indent:-9999em;}
.nadri-media .bx-prev {margin-left:5px; background-image:url('../image/common/btn_up.png');}
.nadri-media .bx-prev:hover,
.nadri-media .bx-prev:focus {background-image:url('../image/common/btn_up_on.png');}
.nadri-media .bx-next:hover,
.nadri-media .bx-next:focus {background-image:url('../image/common/btn_down_on.png');}

/* 메인 - 나드리 매장 */
.nadri-store .tit-wrap {padding-top:6.625rem;}
.nadri-store,
.nadri-store .bx-wrapper {position:relative;}
.nadri-store ul {overflow:hidden;}
.nadri-store li {position:relative; float:left; width:33.3%;}
.nadri-store img {display:block; max-width:100%;}
.nadri-store .info-bx {position:absolute; left:0; bottom:0; width:100%; padding:.875rem 0 1rem; background:rgba(89,87,87,.7); font-size:1.125rem; font-weight:700; color:#faf3e1;}
.nadri-store .info-bx .branch {font-size:1.5rem; color:#fbb813;}
.nadri-store .info-bx .branch,
.nadri-store .info-bx address {margin:2px 1.625rem 0;}

/* 메인 - 나드리 매장 검색 */
.store-sch {margin-top:-1px; background:url('../image/common/bg_footer.jpg') no-repeat 0 0;}
.store-sch .inner {max-width:1210px; margin:0 auto; padding:5.3125rem 0 4.8125rem;}
.store-sch .tit {font-size:2.875rem; font-family:YS; font-weight:400; color:#faf3e1;}
.store-sch .txt {margin-top:1px; font-size:1.125rem; color:#c4b79e;}
.store-sch .tit,
.store-sch .txt {margin-left:15rem;}
.sel-area {margin:3.125rem 1.25rem 0 15rem;}
.sel-area form {overflow:hidden; margin:0 -.3125rem;}
.sel-area .col {float:left; width:25%;}
.sel-area .selBx,
.sel-area .btn {display:block; margin:0 .3125rem;}
.sel-area .btn-st02 {width:100%;}


/* Sub */
.snb {position:fixed; left:1.875rem; top:13.5rem; z-index:30; background:url('../image/common/bg_snb_line.gif') repeat-y 50% 0; font-size:1.125rem; font-family:YS; text-align:center;}
.snb .page-tit {margin-top:-2px; padding:.875rem .5rem .625rem; background:url('../image/common/bg_snb_tit.png') no-repeat 50% 0; background-size:100%; font-size:1.375rem; font-weight:400;}
.snb li {margin-top:6px; background:url('../image/common/bg_snb.png') no-repeat 50% 0; background-size:100%;}
.snb a {display:block; min-width:7.8125rem; padding:.5625rem .5rem .4375rem; color:#faf3e1;}

.sub-top {padding:19.25rem 1rem 6.625rem; background:url('../image/content/bg_sub01.jpg') no-repeat 50% 0; background-attachment:fixed; background-size:cover; text-align:center; word-break:keep-all;}
.sub-top .btxt {display:block; font-size:3rem; font-family:NSQ; color:#faf3e1;}
.sub-top .stxt {display:block; margin-top:.75rem; font-size:1.125rem; font-weight:700; color:#fff; line-height:20px;}
.sub-top.bg02 {background-image:url('../image/content/bg_sub02.jpg');}
.sub-top.bg03 {background-image:url('../image/content/bg_sub03.jpg');}
.sub-top.bg04 {background-image:url('../image/content/bg_sub04.jpg');}
.sub-top.bg05 {background-image:url('../image/content/bg_sub05.jpg');}

.sub-content {padding:3.125rem 0; font-size:1.125rem; font-family:NSQ;}
.sub-content > * {position:relative; max-width:1170px; margin:0 auto; padding:3.125rem 1rem;}
.sub-content .txtc {word-break:keep-all;}

.sub-hd {margin-bottom:3.75rem; text-align:center; word-break:keep-all;}
.sub-hd .btxt {display:block; margin:2.3125rem 0 1.25rem; font-size:1.875rem; font-family:NMJ; font-weight:700; color:#f4811f;}
.sub-hd .point-y {font-weight:700;}
.sub-tit {position:relative; padding-top:4rem; background:url('../image/common/bg_subtit.jpg') no-repeat 50% 0; font-size:3rem; font-family:YS; font-weight:400; letter-spacing:-.5px;}
.sub-tit:after {content:''; position:absolute; left:50%; bottom:-1px; width:0; height:.25rem; margin-left:-3.125rem; background:#786c60; -ms-filter:alpha(opacity=0); filter:alpha(opacity=0); opacity:0;}
.sub-tit02 {font-size:1.5rem; color:#7a6a55;}

.in-view .sub-tit:after {width:6.25rem; -ms-filter:alpha(opacity=100); filter:alpha(opacity=100); opacity:1; -webkit-transition:all .5s; -moz-transition:all .5s; -o-transition:all .5s; -ms-transition:all .5s; transition:all .5s;}

/* 나드리 스토리 */
.story-visual {margin-bottom:2.25rem; padding-top:4.375rem; background:url('../image/content/bg_story.jpg') no-repeat 50% 0; color:#e7e2d1; text-align:center;}
.story-visual .txt-bx {position:relative; margin:0 14.7% 4.5rem; padding:2.875rem 1rem 3.875rem; border:1px solid #fff; background:rgba(0,0,0,.15); font-family:NMJ; font-weight:700; color:#e7e2d1; line-height:22px;}
.story-visual .txt-bx:after {content:''; position:absolute; left:0; top:0; width:100%; height:100%; box-shadow:0 5px 5px #000; -ms-filter:alpha(opacity=13); filter:alpha(opacity=13); opacity:.13;}
.story-visual .tit {padding-left:4.375rem; background:url('../image/common/ico_tableware.png') no-repeat 0 0; font-size:6.0625rem; font-family:YS; font-weight:400; color:#fff; line-height:6rem;}
.story-visual .tit span {padding-right:4.375rem; background:url('../image/common/ico_tableware.png') no-repeat 100% -100px;}
.story-visual .slogan {position:absolute; left:50%; bottom:-1.5rem; z-index:1; width:18.125rem; margin-left:-9.875rem; padding:.8125rem; background:#fbb813; line-height:2.875rem;}
.story-visual .slogan img {display:block; margin:0 auto;}

.main-value {overflow:hidden; max-width:980px; margin:3.625rem auto 8.75rem; font-family:NMJ; font-weight:700; color:#5c5c5c; text-align:center; word-break:keep-all;}
.main-value li {margin-bottom:2rem; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
.main-value .tit {display:block; margin-bottom:.8125rem; padding-top:5.875rem; background:url('../image/content/bg_value01.png') no-repeat 50% 0; font-size:1.875rem; font-family:NSQ;}
.main-value .value02 .tit {background-image:url('../image/content/bg_value02.png');}
.main-value .value03 .tit {background-image:url('../image/content/bg_value03.png');}

.history {overflow:hidden; max-width:980px; margin:0 auto; background:url('../image/common/bg_line.gif') repeat-y 50% 0; font-weight:700;}
.history > li {padding-bottom:5rem; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
.history > li:first-child {color:#595757;}
.history > li:first-child .year {color:#f37537;}
.history > li:nth-child(2) {padding-top:4.75rem;}

.history .year {border-bottom:1px solid #c4b79e; font-size:4.5rem; color:#c4b79e;}
.history .img {border:1px solid #9e9e9e;}
.history .img img {display:block;}
.history ul {padding:.625rem 0 .5rem;}
.history ul li {margin-left:1rem; padding:.5rem 0; text-indent:-1rem;}

.history .fl {width:50%; text-align:right;}
.history .fl .year {padding-right:22%;}
.history .fl ul,
.history .fl .img {margin-right:22%;}
.history .fr {width:50%;}
.history .fr .year {padding-left:22%; text-align:right;}
.history .fr ul {margin-left:21%;}
.history .fr .img {margin-left:22%;}

/* CEO 인사말 */
.promice-tit {margin-bottom:2.5px; padding:6.375rem 1rem 5.75rem; background:url('../image/content/img_promise.jpg') no-repeat 50% 20%; font-size:4.5rem; font-family:YS; font-weight:400; color:#fff; text-align:center; word-break:keep-all;}
.promice {overflow:hidden; margin:0 -2.5px; color:#fff;}
.promice li {float:left; width:20%; font-size:1rem; word-break:keep-all;}
.promice li > div {position:relative; z-index:1; height:12.125rem; margin:2.5px; padding:7.66% 8%; background:url('../image/content/img_food01.jpg') no-repeat 0 0;}
.promice li > div:before {content:''; position:absolute; left:0; top:0; z-index:-1; width:100%; height:100%; background:rgba(0,0,0,.6);}
.promice li > div:after {content:''; position:absolute; right:0; bottom:0; border-top:2.5rem solid transparent; border-right:2.5rem solid #fc0;}
.promice .tit {display:block; font-size:1.875rem; word-break:normal;}
.promice .tit span {font-weight:400;}
.promice .txt {position:absolute; left:0; bottom:0; min-height:4.5rem; padding:0 8% 7.66%;}

.promice .bg02 > div {background-image:url('../image/content/img_food02.jpg');}
.promice .bg02 > div:after {border-right-color:#faf5e6;}
.promice .bg03 > div {background-image:url('../image/content/img_food03.jpg');}
.promice .bg03 > div:after {border-right-color:#c9bc9c;}
.promice .bg04 > div {background-image:url('../image/content/img_food04.jpg');}
.promice .bg04 > div:after {border-right-color:#7a6a55;}
.promice .bg05 > div {background-image:url('../image/content/img_food05.jpg');}
.promice .bg05 > div:after {border-right-color:#ed6d00;}

.greet {max-width:655px; margin:2.125rem auto 0; text-align:center; line-height:1.5rem; word-break:keep-all;}
.greet p {margin-bottom:1.5rem;}
.greet .ceo {padding-left:3px; font-size:2.25rem; font-family:YS; font-weight:400;}

/* BI 소개 */
.bg-tit {display:inline-block; min-width:7.25rem; margin:4.75rem 0 .875rem; padding:.375rem 15px .1875rem; border-radius:18px; background:#7a6a55; font-size:1.5rem; color:#fff; text-align:center;}
.bg-tit.fst {margin-top:0;}

.bi-intro {font-size:14px; text-align:center;}
.bi-intro > p {word-break:keep-all;}
.bi-intro > .img {margin-top:1.875rem;}

.nadri-color {overflow:hidden; margin:2.125rem -2.5px 0; font-family:NMJ; color:#fff;}
.nadri-color > li {float:left; width:20%;}
.nadri-color > li > div {position:relative; height:8.5rem; margin:2.5px; padding-top:40%;}
.nadri-color .brw {background:#634328;}
.nadri-color .beige {background:#fcf6e7; color:#634328;}
.nadri-color .tree {background:#c9bc9c;}
.nadri-color .tree .color-code {color:#634328;}
.nadri-color .deep-brw {background:#7a6a56;}
.nadri-color .orange {background:#ed6c00;}
.color-nm {font-size:1.125rem; font-weight:900;}
.color-code {position:absolute; left:0; bottom:.9375rem; padding:0 .8125rem; font-size:12px; line-height:16px; text-align:left;}

.slogan-ty,
.motive-icon {overflow:hidden; max-width:980px; margin:0 auto;}
.slogan-ty .img {float:left; width:50%; margin-top:4.5rem;}

.motive-icon {margin-top:2.625rem;}
.motive-icon li {float:left; width:20%;}

/* 오시는 길 */
.nadri-map {overflow:hidden; margin:0 -5px;}
.nadri-map .map-area {/*min-height:22.375rem;*/ border:1px solid #ccc;}
.nadri-map .sub-tit02 {margin-bottom:.875rem; padding-top:1.5rem; border-top:.3125rem solid #f37537;}
.nadri-map li {float:left; width:50%;}
.nadri-map li:first-child .sub-tit02 {border-top-color:#fc0;}
.nadri-map address {font-size:14px; line-height:18px;}

.nadri-map .map-area,
.nadri-map .sub-tit02,
.nadri-map address {margin-left:5px; margin-right:5px;}


/* 메뉴안내 */
.menu-intro {overflow:hidden; margin:0 -.625rem;}
.menu-intro > li {float:left; margin-bottom:20px;}
.menu-intro > li > div {position:relative; margin:0 .625rem;}
.menu-intro .info {position:absolute; left:0; top:0; width:100%; height:100%; padding:2.0625rem 2.3125rem; background:url('../image/common/bg_blur.png') no-repeat 100% 0; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; text-align:right; word-break:keep-all;}
.menu-intro .menu-nm {display:block; font-size:1.875rem;}
.menu-intro .menu-nm .point-y {margin-left:-.5rem;}
.menu-intro .menu-nm .en {display:block; padding-bottom:2px; font-size:12px;}
.menu-intro .desc {display:block; margin-top:5px; font-size:14px; color:#595757;}
.menu-intro img {display:block;}

.menu-intro.col2 > li {width:50%;}
.menu-intro.col3 > li {width:33.3%;}
.menu-intro.col3 .info {background-image:url('../image/common/bg_blur_v.png');}
.menu-intro > li:hover .info {padding:1.4375rem 1.6875rem; border:.625rem solid #fbb813;}


/* 게시판 공통 */
.board-list,
.board-read,
.board-write,
.view-list {font-size:12px; font-family:'돋움',Dotum;}

.board .thum {position:relative; display:block; overflow:hidden;}
.board .thum img {display:block; margin:0 auto;}
.board .overlay {position:absolute; left:0; top:0; display:none; width:100%; height:100%; background:rgba(0,0,0,.6);}
.board .overlay .mark {position:absolute; left:50%; top:50%; display:block; width:3.25rem; height:2.8125rem; margin:-1.875rem 0 0 -1.875rem; padding:.9375rem .25rem 0; border-radius:50%; background:#f4811f; font-size:14px; font-family:NSQ; font-weight:700; color:#fff; line-height:1.125rem; text-align:center;}
.board .off .overlay {display:block;}
.board .tit {font-size:1.125rem; font-family:NSQ; color:#595757;}

/* 게시판 목록 */
.board-list ul {max-width:1170px; margin:0 -.4375rem;}
.board-list ul:after {content:''; display:block; clear:both;}
.board-list li {float:left; width:25%; margin-bottom:14px;}
.board-list li > a {position:relative; display:block; margin:0 .4375rem; padding-bottom:.875rem; background:#faf8f1; -webkit-transition:0s; -moz-transition:0s; transition:0s;}
.board-list li > a:hover:after {content:''; position:absolute; left:0; top:0; width:100%; height:100%; border:.3125rem solid #fbb813; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
.board-list li > a:hover img {-webkit-transform:scale(1.1); -moz-transform:scale(1.1); transform:scale(1.1);}
.board-list .thum {max-height:360px;}
.board-list .thum img {-webkit-transition:all .3s; -moz-transition:all .3s; -ms-transition:all .3s; transition:all .3s;}
.board-list .tit {display:block; overflow:hidden; padding:.9375rem 1.1875rem 0; text-overflow:ellipsis; white-space:nowrap;}
.board-list .cont {display:-webkit-box; overflow:hidden; height:32px; margin:5px 1.1875rem 8px; color:#999; line-height:16px; text-overflow:ellipsis; -webkit-line-clamp:2; -webkit-box-orient:vertical;}
.board-list .date {padding:0 1.1875rem; color:#f37537;}
.board-list .btn-wrap {margin-top:100px;}

/* 게시판 읽기 */
.post-hd {position:relative; padding:.875rem 1.125rem .75rem; border-top:2px solid #7e7367; border-bottom:1px solid #c0b39b; background:#f6f3eb;}
.post-hd .tit {width:80%; word-break:keep-all;}
.post-hd .end-txt {color:#ed0503;}
.post-hd .add-info {position:absolute; top:50%; right:1.5%; margin-top:-7px; color:#666;}
.board-read .detail {padding:2.5rem 1.25rem 7.5rem; color:#666; line-height:1.5em;}
.board-read .detail .img {margin-bottom:20px; text-align:center;}

.view-list {position:relative; border-top:1px solid #c0b39b; border-bottom:1px solid #c0b39b;}
.view-list li {float:left; width:198px; border-left:1px solid #c0b39b; border-right:1px solid #c0b39b; background:#fff;}
.view-list li > a {display:block; padding-bottom:25px; color:#666;}
.view-list .thum {width:198px; height:132px;}
.view-list .thum img {width:100%;}
.view-list .subj {overflow:hidden; padding:10px 15px 0; text-overflow:ellipsis; white-space:nowrap;}
.view-list .date {display:block; padding:4px 15px 0; color:#aaa;}

.view-list .bx-prev,
.view-list .bx-next {position:absolute; top:50%; overflow:hidden; width:1.75rem; height:3.625rem; margin-top:-1.8125rem; background:url('../image/common/btn_sprev.png') no-repeat 0 0; background-size:100%; text-indent:-9999em;}
.view-list .bx-prev {left:1.25rem;}
.view-list .bx-next {right:1.25rem; background-image:url('../image/common/btn_snext.png');}

/* 글쓰기 */
.write-frm {width:100%;}
.write-frm th,
.write-frm td {padding:10px 1.7%; border-bottom:1px solid #e3ded1;}
.write-frm th {background:#faf9f6; font-size:14px; color:#595757; text-align:right;}
.write-frm th.opt label {padding-right:40px;}
.write-frm th em {font-size:12px; font-weight:400; color:#f4811f;}
.write-frm th > * {vertical-align:middle;}
.write-frm td {color:#999;}
.write-frm input,
.write-frm select,
.write-frm textarea {border:1px solid #ccc; font:inherit; color:#999; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
.write-frm textarea {width:100%; height:130px; padding:9px;}
.write-frm input {width:100%; max-width:415px; height:30px; padding:0 9px;}
.write-frm input.short {max-width:280px;}
.write-frm select {height:30px; padding-left:5px;}
.write-frm .tel input {width:80px;}
.write-frm .tel select {width:80px;}
.write-frm .email input {width:120px;}
.write-frm .email select {width:145px; margin-left:6px;}
.write-frm .dash {margin:0 3px;}
.write-frm .at {margin:0 5px;}

.agree-bx {overflow-y:auto; height:8.1325rem; margin:20px 0 8px; padding:.9375rem 3.125rem 0 1.125rem; border:1px solid #ccc; color:#999; line-height:18px;}


/* Media Query */
@media all and (max-width:1199px){
	.nadri-found .fl img {max-width:100%;}
}
@media all and (max-width:959px){
	.nadri-found .inner {max-width:800px; padding-top:0;}
	.nadri-found .fl {max-width:600px; padding:2rem 1rem;}
	.nadri-found .fl,
	.nadri-found .fr {float:none; width:100%; margin:0 auto;}

	#footer {padding:3rem 2rem;}
	#footer .inner {padding-bottom:3rem;}
	#footer .fl,
	#footer .fr {width:50%; margin-bottom:2rem;}
	#footer .loc {clear:both; float:none; width:100%; margin:0;}
	#footer .tit {margin-bottom:1.5rem;}

	/* 게시판 */
	.board-list li {width:33.3%;}
}
@media all and (min-width:768px){
	.hd-top .btn-menu,
	.hd-top .btn-prev,
	.gnb-wrap .btn-close {display:none;}

	.nadri-found .sms {padding:159px 230px 0 410px;}
	.nadri-store .mask {position:absolute; top:0; width:33.3%; height:100%; background:rgba(255,255,255,.7);}
	.nadri-store .mask.prev {left:0;}
	.nadri-store .mask.next {right:0;}
	.nadri-store .mask .bx-prev {left:auto; right:3rem; background-image:url('../image/common/btn_prev02.png');}
	.nadri-store .mask .bx-next {left:3rem; right:auto; background-image:url('../image/common/btn_next02.png');}
	.nadri-store .mask .bx-prev:hover,
	.nadri-store .mask .bx-prev:focus {background-image:url('../image/common/btn_prev03.png'); opacity:.8;}
	.nadri-store .mask .bx-next:hover,
	.nadri-store .mask .bx-next:focus {background-image:url('../image/common/btn_next03.png'); opacity:.8;}
}
@media all and (min-width:960px) and (max-width:1279px){
	.nadri-found .fl {padding-left:3%;}
	.nadri-found .fr {background-position:0 0}
	.nadri-found .sms {padding:159px 373px 0 245px; background-position:0 100%;}
}
@media all and (max-width:767px){
	html {font-size:.875rem;}
	#content.main {padding-top:50px;}
	.quick .tooltip {background-size:100%;}

	.hr-slide .bx-prev {left:1rem;}
	.hr-slide .bx-next {right:1rem;}

	.nadri-fs .intro-txt br {display:none;}
	.nadri-found .chk-li li {padding:4.5px 0 4.5px 24px; font-size:1em;}
	.nadri-found .sms {width:100%; padding-top:159px; background-position:50% 100%;}
	.nadri-found .frm {width:160px; margin:0 auto; padding-left:15px;}
	.nadri-media li {padding-left:7.5rem;}

	.store-sch .inner {background-size:15rem !important;}
	.sel-area .selBx,
	.sel-area .btn {margin:.25rem;}

	/* 나드리 스토리 */
	.story-visual .txt-bx {margin:0 7% 4.5rem;}
	.story-visual .tit {padding-left:4rem; font-size:4rem; line-height:4rem; background-position:0 -6px; background-size:40px;}
	.story-visual .tit span {padding-right:4rem; background-position:100% -75px; background-size:40px;}

	/* CEO 인사말 */
	.promice li {width:33.3%; font-size:14px;}
	.promice li > div {background-size:cover;}
	.promice .txt {min-height:3.5rem;}

	
	/* 모바일 헤더 */
	#header {position:static; z-index:0;}
	#header .hd-top {position:fixed; left:0; top:0; z-index:50; width:100%; padding:8px 0; border-bottom:1px solid #000; background:rgba(0,0,0,.8);}
	#header .logo {overflow:hidden; width:95px; height:33px; margin:0 auto;}
	#header .logo img {width:100%; margin-top:-9px;}
	#header .util-menu,
	.gnb .sub,
	.sub-bg {display:none !important;}

	.gnb-wrap {position:fixed; right:0; top:50px; bottom:0; overflow-y:auto; width:80%; height:100%; background:rgba(0,0,0,.8) !important;}
	#gnb {border-bottom:1px solid #fff; border-bottom-color:rgba(255,255,255,.2);}
	#gnb > li {float:none; width:100%; border-top:1px solid #fff; border-top-color:rgba(255,255,255,.2); border-bottom:1px solid #000; background:url('../image/common/bg_down.png') no-repeat 94% 1.8rem; background-size:10px 6px;}
	#gnb > li > a {padding:1.125rem 3rem .75rem 8rem; background-position:3rem 50% !important;}
	#gnb .sub {padding:1rem 0; border-top:1px solid #fff; border-top-color:rgba(255,255,255,.2);}
	#gnb .sub li {padding-left:8rem;}

	.m-wrap {position:relative; z-index:10; background:#fff; -webkit-transition:transform .3s; -moz-transition:transform .3s; -ms-transition:transform .3s; transition:transform .3s;}
	.m-wrap.open {box-shadow:3px 0 3px rgba(0,0,0,.3); -webkit-transform:translate(-80%,0); -moz-transform:translate(-80%,0); -ms-transform:translate(-80%,0); transform:translate(-80%,0);}

	/* 게시판 */
	.board-list .thum img {width:100%;}
}
@media all and (max-width:639px){
	.nadri-found .fr {background-size:100%;}
	.nadri-media .subj {overflow:hidden; width:100%; text-overflow:ellipsis; white-space:nowrap;}

	.store-sch .inner {padding-top:5.25rem;}
	.store-sch .tit {font-size:2.5rem;}
	.store-sch .txt {font-size:1rem;}
	.sel-area {margin-top:1rem;}
	.sel-area .col {width:50%}

	/* 나드리 스토리 */
	.history .fl .year {padding-right:1rem;}
	.history .fl ul,
	.history .fl .img {margin-right:1rem;}
	.history .fr ul,
	.history .fr .img {margin-left:1rem;}
	.history .fr .year {padding-left:1rem;}

	/* BI 소개 */
	.bi-intro > p br {display:none;}
	.nadri-color > li {width:33.3%;}
	.slogan-ty .img {float:none; width:100%; margin-top:3rem;}
	.motive-icon li {width:33.3%;}

	/* 오시는 길 */
	.nadri-map li {float:none; width:100%;}
	.nadri-map li:first-child {margin-bottom:3.5rem;}

	/* 메뉴안내 */
	.menu-intro.col2 {max-width:575px; margin:0 auto;}
	.menu-intro.col2 > li {float:none; width:100%;}
	.menu-intro.col2 > li > div {margin:0;}
	.menu-intro.col3 > li {width:50%;}
	
	/* 게시판 */
	.board-list li {width:50%;}
	.write-frm th {font-size:1rem;}
	.write-frm th.opt label {padding-right:0;}
	.write-frm th em {display:block; margin-top:2px;}
	.write-frm input {max-width:100% !important;}
	.write-frm .tel select,
	.write-frm .tel input,
	.write-frm .email input {width:30%;}
	.write-frm .email select {width:33%; margin:0;}
	.write-frm .dash {width:5%;}
	.write-frm .dash,
	.write-frm .at {display:inline-block; margin:0 -4px; text-align:center;}
	.write-frm .at {width:7%;}

	/* 팝업 */
	.pop-hd {padding-top:33px;}
	.popup {width:94%; margin-left:-47%; padding:0 1.5625rem; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
	.popup .btn-wrap {padding:1.375rem;}
}
@media all and (min-width:480px){
	.nadri-media ul {border-left:1px solid #c4b79e;}
	.nadri-media li {width:auto !important;}
	.nadri-media .thum {position:absolute; left:-6.25rem; top:3.875rem;}

	.store-sch .inner {background:url('../image/content/bg_store.png') no-repeat 1px 5.1875rem;}
	#footer .fr .tit,
	#footer .fr ul {margin-left:1rem;}

	/* 나드리 스토리 */
	.main-value li {float:left; width:33.3%; margin-bottom:0; padding:0 .5rem; font-size:1rem;}
}
@media all and (max-width:479px){
	html {font-size:.825rem;}
	.nadri-found .tel-num {padding-bottom:12px;}

	.nadri-media {margin:0; background:url('../image/common/bg_paper.jpg') no-repeat 50% 0; background-size:cover;}
	.nadri-media .tit-wrap {padding:3rem 1rem 0;}
	.nadri-media .bg {background:url('../image/common/bg_line.gif') repeat-x 0 27.5%;}
	.nadri-media .bx-viewport {height:30rem !important;}
	.nadri-media ul {overflow:hidden; margin:0; padding:0;}
	.nadri-media li {padding:2rem 1%;}
	.nadri-media .posts {margin-top:1rem; line-height:1.3rem;}

	.nadri-media .bx-controls-direction {position:static;}
	.nadri-media .bx-prev,
	.nadri-media .bx-next {position:absolute; float:none; top:6.7rem; margin:0; background-color:none; -webkit-transform:rotate(-90deg); -moz-transform:rotate(-90deg); transform:rotate(-90deg);}
	.nadri-media .bx-prev {left:6%; background-position:50% 40%;}
	.nadri-media .bx-next {right:6%; background-position:50% 60%;}

	.store-sch .inner {padding:12% 0;}
	.store-sch .tit,
	.store-sch .txt {margin-left:0; text-align:center;}
	.sel-area {max-width:20rem; margin:0 auto;}
	.sel-area {padding-top:17rem; background:url('../image/content/bg_store.png') no-repeat 50% 1.5rem;}
	.sel-area .col {float:none; width:100%}
	.sel-area .selBx {margin:.5rem;}
	.sel-area .btn {margin:1rem .5rem 0;}

	#footer {font-size:1rem;}
	#footer .fl,
	#footer .fr {float:none; width:100%;}
	#footer .tit {margin-bottom:1rem;}

	/* 나드리 스토리 */
	.history {background:none;}
	.history > li {float:none; width:100% !important; padding:0 0 3rem !important;}
	.history .year {padding:0 !important;}
	.history .year,
	.history .img,
	.history ul {margin:0 .5rem !important;}
	.history ul li {padding:.25rem 0;}

	/* CEO 인사말 */
	.promice li {width:50%;}

	/* 메뉴안내 */
	.menu-intro.col3 {max-width:375px; margin:0 auto;}
	.menu-intro.col3 > li {float:none; width:100%;}
	.menu-intro.col3 > li > div {margin:0;}
	
	/* 게시판 */
	.board .overlay .mark {font-size:1rem;}
	.board-write .add-info {position:static; display:block; margin-top:5px;}
	.write-frm .email input {width:46%;}
	.write-frm .email select {width:100%; margin-top:5px; }
	.write-frm .email .at {width:10%;}
}
@media all and (max-width:413px){
	/* BI 소개 */
	.motive-icon li {width:50%;}
}
@media all and (max-width:401px){
	.nadri-found .tel-num {padding-left:20%; background-size:100% 100%;}
}
@media all and (max-width:374px){
	/* CEO 인사말 */
	.promice li {float:none; width:100%;}
	.promice li > div {height:80px;}
	.promice .txt {min-height:auto;}

	/* BI 소개 */
	.nadri-color > li {width:50%;}
	.nadri-color > li > div {padding-top:25%;}

	/* 메뉴안내 */
	.menu-intro .info {padding-left:0 !important;}

	/* 게시판 */
	.board-list li {float:none; width:100%;}
}