/*
===============================================================================================
1.	버    전 : common.css
2.	작 성 자 : Ryu
3.	참    고 : Common
===============================================================================================
*/

/* common */
.subPageCon {}
.txtBox {float:left;font-size:1.4em;letter-spacing:-0.05em;line-height:28px;color:#555;}
	.txtBox p {margin-top:40px;}
.descBox {float:left;margin-top:40px;width:100%;}
	.descBox dt {float:left;margin-bottom:15px;width:100%;line-height:40px;font-size:2.8em;letter-spacing:-0.025em;color:#1253a2;}
		.descBox dt .descNum {float:left;margin-right:10px;width:36px;font-size:17px;letter-spacing:-0.025em;color:#fff;font-weight:normal;text-align:center;background:url(../images/common/blt_num_bg.png) no-repeat 0 50%;}
	.descBox dd {float:left;padding:20px;width:100%;background:#f9f9f9;}
		.descBox dd > ul > li {float:left;padding-left:15px;width:100%;line-height:30px;font-size:1.4em;letter-spacing:-0.025em;color:#555;background:url(../images/common/blt_dot_li2.png) no-repeat 0 13px;}
		.descBox dd > ul > li.hyphen {background:url(../images/common/blt_desc_hyphen.png) no-repeat 0 15px;}
	.descBox dd > ul > li.noBlt {padding-left:0;background:none;}
.pageDescTxt {font-size:1.8em;letter-spacing:-0.025em;color:#555;}

/* pagingBoxWrap */
.pagingBoxWrap {float:left;width:100%;margin-top:40px;text-align:center;}
	.pagingBox {display:inline-block;}
		.pagingBox li {float:left;width:30px;height:30px;line-height:26px;text-align:center;cursor:pointer;}
			.pagingBox .numBtn {margin:0 2px;border:1px solid #ddd;}
			.pagingBox .numBtn a {display:block;width:100%;height:100%;font-size:1.2em;font-weight:normal;color:#888;}
			.pagingBox .abL, .pagingBox .abLL,
			.pagingBox .abR, .pagingBox .abRR {margin:0 2px;border:1px solid #ddd;}
			.pagingBox .angleBtn a {font-size:1.6em;color:#888;}
			.pagingBox .angleBtn:hover, .pagingBox .numBtn:hover, .pagingBox .actOn {background:#3c5a7e;border:1px solid #3c5a7e;}
			.pagingBox .angleBtn:hover a, .pagingBox .numBtn:hover a, .pagingBox .actOn a {color:#fff;}
.pagingBoxWrap2 {float:left;width:100%;margin-top:40px;text-align:center;}
	.pagingBox2 {display:inline-block;}
		.pagingBox2 li {float:left;width:30px;height:30px;line-height:26px;text-align:center;cursor:pointer;}
			.pagingBox2 .numBtn {margin:0 2px;border:1px solid #ddd;}
			.pagingBox2 .numBtn a {display:block;width:100%;height:100%;font-size:1.2em;font-weight:normal;color:#888;}
			.pagingBox2 .abL, .pagingBox2 .abLL,
			.pagingBox2 .abR, .pagingBox2 .abRR {margin:0 2px;border:1px solid #ddd;}
			.pagingBox2 .angleBtn a {font-size:1.6em;color:#888;}
			.pagingBox2 .angleBtn:hover, .pagingBox2 .numBtn:hover, .pagingBox2 .actOn {background:#616dc7;border:1px solid #616dc7;}
			.pagingBox2 .angleBtn:hover a, .pagingBox2 .numBtn:hover a, .pagingBox2 .actOn a {color:#fff;}

/* longlife */
#p_mayor {}
	#p_mayor .subPage_title {margin-bottom:0;}
	.mayorImg {float:left;width:100%;height:412px;background:url(../images/sub/pc_mayor_bg.jpg) no-repeat;}
		.mayorImg h3 {margin:100px 0 60px 30px;font-size:4em;letter-spacing:-0.025em;color:#333;font-weight:normal;}
		.mayorImg p {margin-left:30px;font-size:2em;letter-spacing:-0.025em;color:#2a60a0;font-style:italic;}
	.mayorSign {float:left;width:100%;text-align:right;font-size:1.6em;letter-spacing:-0.05em;color:#555;}
		.mayorSign img {margin:-10px 0 0 20px;width:80px;}

#p_educity {}
	#p_educity dl {float:left;margin-bottom:75px;display:block;}
	#p_educity dl:last-child {margin-bottom:0;}
		#p_educity dt {float:left;width:120px;font-size:2.8em;letter-spacing:-0.025em;color:#1253a2;}
		#p_educity dd {float:left;width:780px;}
	.p_edu_dl_1 {margin-top:15px;}
		.p_edu_dl_1 dd {font-size:2.4em;letter-spacing:-0.025em;color:#333;}
			.p_edu_dl_1 dd span{color:#1857a4;}
		.p_edu_dl_2 dd {height:153px;background:url(../images/sub/pc_educity_01.jpg) no-repeat;}
			.p_edu_dl_2 dd li {float:left;padding-top:60px;padding-left:65px;width:260px;font-size:1.6em;letter-spacing:-0.075em;color:#333;}

#p_studycity {}
	.studycityImg {float:left;margin-bottom:60px;width:100%;}
	#p_studycity dl {float:left;margin-bottom:60px;display:block;}
	#p_studycity dl:last-child {margin-bottom:0;}
		#p_studycity dt {float:left;margin-bottom:20px;width:100%;font-size:2.8em;color:#1253a2;}
		#p_studycity dd {float:left;width:100%;font-size:1.4em;letter-spacing:-0.025em;line-height:28px;color:#333;}
			#p_studycity dd li {float:left;padding-left:15px;width:50%;font-size:1em;letter-spacing:-0.025em;color:#333;background:url(../images/common/blt_dot_li.png) no-repeat 0 50%;}

#p_declare {}
	.declareImg {float:left;width:100%;}

#p_rules {}
	.rulesBox {float:left;margin-bottom:60px;padding:10px;width:100%;background:#f8f8f8;border:1px solid #e2e2e2;}
		.rulesBox ul {float:left;padding:35px;width:100%;background:#fff;}
			.rulesBox ul li {float:left;margin-bottom:15px;width:100%;font-size:1.5em;letter-spacing:-0.025em;color:#333;font-weight:bold;}
			.rulesBox ul li:last-child {margin-bottom:0;}
				#p_rules .bt {font-weight:bold;color:#2375d8;}
				#p_rules .gt {color:#888;}
	.rulesDetail {float:left;width:100%;font-size:1.3em;letter-spacing:-0.025em;line-height:30px;color:#555;}
		.rulesDetail li {width:100%;}
		.rulesDetail > ul > li {float:left;margin-bottom:30px;}
			.rulesDetail > ul > li > ul > li {float:left;margin-left:40px;}
				.rulesDetail > ul > li > ul > li > ul > li {float:left;margin-left:40px;}
				.rulesDetail li .num {float:left;width:2%;}
				.rulesDetail li p {float:left;padding-left:5px;width:98%;}

#p_map {}
	.mapImg {float:left;margin-bottom:40px;width:100%;}
	#p_map dl {float:left;margin-bottom:25px;width:260px;}
		#p_map dt {float:left;margin-bottom:10px;padding-left:40px;width:100%;height:32px;line-height:32px;font-size:1.6em;color:#1253a2;background:url(../images/common/icon_map.png) no-repeat;}
		#p_map dd {float:left;width:100%;}
			#p_map ul {float:left;width:100%;border-top:1px solid #7aa3e9;}
				#p_map li {float:left;width:100%;border-bottom:1px solid #e3e3e3;}
					#p_map li .busNum {display:inline-block;width:70px;height:40px;line-height:40px;text-align:center;font-size:1.3em;color:#444;background:#f7f7f7;}
					#p_map li .busStop {display:inline-block;padding-left:20px;height:40px;line-height:40px;font-size:1.2em;color:#444;}
	#p_map dl.p_map_dl_1 {margin-bottom:35px;width:100%;}
		dl.p_map_dl_1 dd {line-height:2em;font-size:1.4em;color:#444;}
			dl.p_map_dl_1 dd span {color:#d61f1f;}
	.p_map_dl_2 {margin-right:60px;}
	.p_map_dl_3 {margin-right:60px;}
	.p_map_dl_4 {}
	#p_map .p_map_dl_5 li:first-child .busNum {width:100%;}
	#p_map .p_map_dl_5 li:last-child .busNum {float:left;width:100px;height:180px;line-height:180px;}
	#p_map .p_map_dl_5 li .busStop {float:left;padding-top:10px;height:180px;line-height:2.2em;}
	
/* edubiz */
#p_univ_intro {}
	.univ_introImg {float:left;width:100%;}
	.univ_introTxt {float:left;width:100%;}
		.univ_introTxt li {float:left;margin-right:40px;width:440px;}
		.univ_introTxt li:nth-child(2n) {margin-right:0px;width:420px;}

#p_univ_biz_history {}
	.univ_biz_historyImg {float:left;width:100%;}
	.historyBox {float:left;width:100%;}
		.historyBox > li {float:left;margin-top:40px;width:100%;}
		.historyBox > li:first-child {margin-top:0;}
			.historyBox > li > h5 {float:left;padding-top:20px;width:245px;font-size:3em;letter-spacing:-0.025em;color:#4381cd;border-top:1px solid #4381cd; }
			.historyBox > li > ul {float:left;padding:10px 0;width:655px;border-top:1px solid #d9d9d9; }
				.historyBox > li > ul > li {padding-left:20px;height:50px;line-height:50px;font-size:1.5em;color:#555;border-bottom:1px dotted #d9d9d9;}
				.historyBox > li > ul > li:last-child {border-bottom:0;}
				.his_date {margin-right:40px;}
				.his_con {}

#p_univ_lec_list {}
	.lec_list_box {float:left;width:100%;}
		.lec_list_box li {float:left;width:310px;border-bottom:1px dotted #ccc;}
		.lec_list_box li:nth-child(3n+3) {width:280px;}
			.lecItem {float:left;width:280px;}
				.lecItem .thumImg {position:relative;float:left;margin-top:30px;width:100%;height:165px;}
					.lecItem .thumImg img {width:100%;border-radius:5px;}
					.lecTitle {position:absolute;bottom:0;left:0;padding:0 10px;width:100%;height:42px;line-height:42px;background:rgba(0,0,0,0.55);border-radius:0 0 5px 5px;}
						.lecText {float:left;width:200px;font-size:1.4em;color:#fff;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
						.lecDate {float:right;font-size:1.1em;color:#fff;font-family:"malgun gothic";}
				.btnBox {float:left;margin:10px 0 15px 0;width:100%;}
				.detailBtn {display:block;margin:0 auto;width:90px;height:25px;line-height:25px;font-size:1.1em;letter-spacing:-0.025em;color:#fff;text-align:center;background:#27b1b4;border-radius:3px;}

#p_univ_lec_view {}
	.lec_view_box {float:left;margin-top:30px;width:100%;}
		.viewTitle {position:relative;float:left;width:100%;height:60px;line-height:60px;font-size:2.4em;letter-spacing:-0.025em;text-align:center;color:#2f5788;background:#f7fbfc;border-top:2px solid #5e9ce8;border-bottom:1px solid #b2c9e5;}
			.viewTitle .lecDate {position:absolute;right:0;font-size:14px;letter-spacing:0;color:#6b88ab;font-weight:normal;font-family:"malgun gothic";}
		.lec_view_movie {float:left;padding:50px 0;width:100%;text-align:center;}
			.lec_view_movie img {width:688px;height:387px;}
		.lec_view_desc {float:left;padding:20px;width:100%;font-size:1.4em;letter-spacing:-0.025em;line-height:28px;color:#3e689b;background:#f5f9fa;border-top:1px dotted #3e689b;border-bottom:1px dotted #3e689b;}

#p_saint_edu {}
	.saint_eduImg {position:relative;float:left;width:100%;}
		.saint_eduImg img {}
		.saint_edu_title {position:absolute;bottom:0;left:0;width:100%;height:50px;line-height:50px;text-align:right;background:rgba(0,0,0,0.55);}
			.saint_edu_title a {margin-right:20px;font-size:1.8em;letter-spacing:-0.025em;color:#fff;}
	.saint_eduTxt1 {float:left;margin-right:40px;width:440px;}
	.saint_eduTxt2 {float:left;width:420px;}
		.saint_eduTxt1 li,
		.saint_eduTxt2 li {float:left;width:100%;}
		.saint_edu_btn {margin-top:70px;text-align:right;}
			.saint_edu_btn a img {width:290px;}

#p_saint_handi_edu {}
	.saint_handi_eduTxt {position:relative;float:left;width:100%;}
		.saint_handi_eduTxt li {float:left;width:100%;}
		.saint_handi_eduTxt li:first-child .descBox {margin-top:0;}
		.saint_handi_edu_quickBtn {position:absolute;top:0;right:0;text-align:right;}
			.saint_handi_edu_quickBtn a {display:inline-block;padding:0 20px;height:37px;line-height:37px;font-size:1.5em;letter-spacing:-0.05em;color:#bd3b3b;font-weight:bold;border:1px solid #ededed;background:#f7f7f7;border-radius:3px;}
				.saint_handi_edu_quickBtn a img {margin:-3px 0 0 6px;width:7px;}
			.saint_handi_edu_btn {margin-top:50px;text-align:center;}
				.saint_handi_edu_btn a img {width:430px;}
#p_study_cafe {}
	.study_cafeImg {float:left;width:100%;}
	.study_cafeTxt {float:left;width:100%;}
		.study_cafeTxt li {float:left;margin-right:40px;width:440px;}
		.study_cafeTxt li:nth-child(2n) {margin-right:0px;width:420px;}

#p_study_center {}
	.study_centerImg {float:left;width:100%;}
	.study_centerTxt {float:left;width:100%;}
		.study_centerTxt li {float:left;width:100%;}

#p_study_member {}
	.study_memberTxt {float:left;width:100%;}
		.study_memberTxt li {float:left;width:100%;}
			.study_memberTxt li:first-child .descBox {margin-top:0;}

#p_native_eng {}
	.native_engImg {position:relative;float:left;width:100%;}
		.native_engImg img {}
		.native_eng_title {position:absolute;bottom:0;left:0;width:100%;height:50px;line-height:50px;text-align:right;background:rgba(0,0,0,0.55);}
			.native_eng_title a {margin-right:20px;font-size:1.8em;letter-spacing:-0.025em;color:#fff;}
	.native_engTxt {position:relative;float:left;width:100%;}
		.native_engTxt li {float:left;width:100%;}
			.native_eng_btn {margin-top:50px;text-align:center;}
				.native_eng_btn a img {width:290px;}

#p_life_science {}
	.life_scienceImg {float:left;width:100%;}
	.life_scienceTxt {float:left;width:100%;}
		.life_scienceTxt li {float:left;width:100%;}

/* info */
#p_teach_bank_intro {}
	.teach_bank_introImg {float:left;width:100%;}
	.teach_bank_introTxt {float:left;width:100%;}
		.teach_bank_introTxt li {float:left;width:100%;}
			.teach_bank_introTxt li:first-child .descBox {margin-top:0;}
			.teach_bank_introTxt li:first-child dd li {padding:0;background:none;}

#p_teacher_reg {}

#p_teacher_list {}
	.teacher_list_desc {float:left;padding-top:10px;padding-left:210px;width:100%;height:150px;font-size:1.5em;letter-spacing:-0.025px;color:#888;background:url(../images/sub/pc_teachder_icon_01.png) no-repeat 110px 0;}
	.listSearchBox {float:left;margin-bottom:30px;width:100%;}
	.listSearchBox .select * {font-family:'nanum gothic';}
	.listSearchBox .select {float:left;margin-right:3px;color:#fff;background:#5ca0f2;}
		.listSearchBox .select .myValue {width:210px;font-size:17px;letter-spacing:-0.025em;color:#fff;font-weight:bold;text-indent:15px;}
		.listSearchBox .select .ctrl {background:url(../images/common/search_arrow_down_w.png) no-repeat 0% 55%;}
		.listSearchBox .select.open .myValue,
		.listSearchBox .select .myValue.outLine {border:0;}
		.listSearchBox .select ul,
		.listSearchBox .select li {border:0;}
			.listSearchBox .select li a {font-size:17px;letter-spacing:-0.025px;color:#fff;font-weight:bold;text-indent:18px;text-decoration:none;background:#5ca0f2;}
			.listSearchBox .select li.hover * {color:#fff;background:#6eafff;}
		.listSearchBox .select button.myValue,
		.listSearchBox .select div.myValue {height:50px;}
		.listSearchBox .select ul {top:47px;}
		.listSearchBox .select .ctrl,
		.listSearchBox .select li,
		.listSearchBox .select li a {height:47px;}
		.listSearchBox .select li a {line-height:47px;}

	.listSearchBox .searchWrap {float:right;position:relative;display:inline-block;border:3px solid #4292f3;}
		.listSearchBox .searchWrap input[type="text"] {float:left;width:638px;height:44px;line-height:44px;text-align:center;font-size:16px;letter-spacing:-0.025px;color:#87a1c1;border:0;background:#fff;}
		.listSearchBox .searchWrap input[type="text"]:focus {color:#1c6ac9;font-weight:bold;}
		.listSearchBox .searchWrap .listSearchBtn {float:left;margin-right:10px;width:32px;height:28px;line-height:46px;}
	#teacherTable {}
		#teacherTable .col1 {}
		#teacherTable .col2 {text-align:left;}
		#teacherTable .col3 {text-align:left;}
		#teacherTable .col4 {color:#999;}
		#teacherTable .col5 {color:#3c6ca6;}

#p_teacher_view {}

#p_program_intro {}

#p_agency_srch {}
	#agencyLocalBox {float:left;margin-top:10px;padding-top:0px;padding-left:235px;width:100%;height:120px;background:url(../images/sub/pc_prog_intro_01.png) no-repeat 110px 0;}
		#agencyLocalBox h3 {font-size:1.8em;letter-spacing:-0.025em;color:#888;}
		#agencyLocalBox ul {float:left;margin-top:15px;border:1px solid #5d92d3;border-radius:5px;}
			#agencyLocalBox li {float:left;border:1px solid #5d92d3;}
			#agencyLocalBox li:first-child {border-radius:3px 0 0 3px;}
			#agencyLocalBox li:last-child {border-radius:0 3px 3px 0;}
				#agencyLocalBox li a {display:block;width:140px;line-height:45px;font-size:1.6em;letter-spacing:-0.025em;color:#2d64a7;font-weight:bold;text-align:center;}
			#agencyLocalBox li.actOn,
			#agencyLocalBox li:hover {background:#5d92d3;}
			#agencyLocalBox li.actOn a,
			#agencyLocalBox li:hover a {color:#fff;}
	#agencyTable {}
		#agencyTable .col1 {}
		#agencyTable .col2 {font-size:1.2em;text-align:left;}
		#agencyTable .col3 {font-size:1.1em;color:#777;}
		#agencyTable .col4 {color:#3c6ca6;text-align:left;}

#p_program_list {}
	.listSearchBox2 {float:left;margin-bottom:30px;width:100%;}
	.listSearchBox2 .select * {font-family:'nanum gothic';}
	.listSearchBox2 .select {float:left;margin-right:3px;color:#4a74a6;background:#fff;}
		.listSearchBox2 .select .myValue {font-size:14px;letter-spacing:-0.025em;color:#4a74a6;font-weight:bold;text-indent:10px;border:1px solid #a0bcde;}
		.listSearchBox2 .select .ctrl {background:url(../images/common/search_arrow_down_b.png) no-repeat 0% 55%;}
		.listSearchBox2 .select.open .myValue,
		.listSearchBox2 .select .myValue.outLine {border:1px solid #5ca0f2;}
		.listSearchBox2 .select ul {border-right:1px solid #5ca0f2;border-bottom:1px solid #5ca0f2;border-left:1px solid #5ca0f2;}
		.listSearchBox2 .select li {border:0;}
			.listSearchBox2 .select li a {font-size:14px;letter-spacing:-0.025px;color:#4a74a6;font-weight:normal;text-indent:13px;text-decoration:none;background:#fff;}
			.listSearchBox2 .select li.hover * {color:#4a74a6;background:#e8eff7;}
		.listSearchBox2 .select button.myValue,
		.listSearchBox2 .select div.myValue {height:50px;}
		.listSearchBox2 .select ul {top:47px;}
		.listSearchBox2 .select .ctrl,
		.listSearchBox2 .select li,
		.listSearchBox2 .select li a {height:47px;}
		.listSearchBox2 .select li a {line-height:47px;}
	#p_program_list #slct_item .myValue {width:120px;}
	#p_program_list #slct_plc .myValue {width:120px;}
	#p_program_list #slct_cate .myValue {width:170px;}
	#p_program_list #slct_sprt .myValue {width:120px;}
	.listSearchBox2 .searchWrap {float:right;position:relative;display:inline-block;border:3px solid #4292f3;}
		.listSearchBox2 .searchWrap input[type="text"] {float:left;width:310px;height:44px;line-height:44px;text-align:center;font-size:16px;letter-spacing:-0.025px;color:#87a1c1;border:0;background:#fff;}
		.listSearchBox2 .searchWrap input[type="text"]:focus {color:#1c6ac9;font-weight:bold;}
		.listSearchBox2 .searchWrap .listSearchBtn {float:left;margin-right:10px;width:32px;height:28px;line-height:46px;}
	#programTable {}
		#programTable .col1 {}
		#programTable .col2 {}
		#programTable .col3 {font-size:1.1em;color:#777;}
		#programTable .col4 {font-size:1.2em;color:#777;}
		#programTable .col5 {font-size:1.2em;color:#777;}
		#programTable .col6 {font-size:1.2em;color:#555;}
			.pbStatus1, .pbStatus2, .pbStatus3 {display:inline-block;width:55px;height:20px;line-height:20px;text-align:center;color:#fff;font-size:11px;letter-spacing:-0.025em;font-family:"dotum";border-radius:3px;}
			.pbStatus1 {background:#27b1b4;}
			.pbStatus2 {background:#5e76da;}
			.pbStatus3 {background:#aaa;}

#p_program_view {}
	#p_program_view .viewTable {border-top:1px solid #ddd;}
		.viewTitle2 {position:relative;float:left;width:100%;height:60px;line-height:60px;font-size:2.4em;letter-spacing:-0.025em;text-align:center;color:#317edd;background:#f7fbfc;border-top:2px solid #5e9ce8;border-bottom:1px solid #b2c9e5;}
			.progName {display:inline-block;margin-top:-7px;margin-right:15px;width:70px;height:31px;line-height:31px;font-size:16px;letter-spacing:-0.025em;color:#fff;font-weight:normal;text-align:center;vertical-align:middle;background:url(../images/common/blt_num_bg2.png) no-repeat 0 50%;}
		.viewTitle3 {position:relative;float:left;width:100%;height:60px;line-height:60px;font-size:1.8em;letter-spacing:-0.025em;text-align:center;color:#010101;background:#f7fbfc;border-top:2px solid #444;}

#p_group_intro {}
	.group_introImg {float:left;width:100%;}
	.group_introTxt {float:left;width:100%;}
		.group_introTxt ul li {float:left;width:100%;}
			.group_introTxt li:first-child .descBox {margin-top:0;}
			.group_introTxt li:first-child dd ul li {padding:0;width:100%;background:none;}
				.group_introTxt li:first-child dd li ol {margin-left:20px;}
				.group_introTxt li:first-child dd li ol li {margin-top:20px;float:left;width:200px;font-size:1em;letter-spacing:-0.025em;color:#555;}
				.group_introTxt li:first-child dd li ol li .num {display:inline-block;margin-right:10px;width:17px;text-align:center;font-size:12px;letter-spacing:-0.025em;color:#fff;background:url(../images/common/blt_num_bg3.png) no-repeat 0 50%;}
			.group_introTxt .descBox dd > ul > li {width:50%;}

#p_group_reg {}
	#p_group_reg .writeTable input[type="text"],
	#p_group_reg .writeTable textarea {font-size:1em;letter-spacing:-0.025em;color:#457dc0;}
	#p_group_reg .fileInputType {width:220px;}
	.attachPreviewBox {float:left;margin-bottom:10px;width:100%;}
		.attachPreviewBox li {float:left;padding-right:20px;margin-right:20px;line-height:13px;font-family:'dotum';font-size:12px;color:#999;border-right:1px solid #ddd;}
		.attachPreviewBox li:last-child {border-right:0;}
			.attachPreviewBox li a {float:right;margin-left:10px;width:13px;height:15px;background:url(../images/common/blt_item_del.png) no-repeat;}

#p_group_list {}
	#groupTable {}
		#groupTable .col1 {font-size:1.3em;letter-spacing:-0.025em;color:#222;}
		#groupTable .col2 {font-size:1.3em;color:#333;}
		#groupTable .col3 {font-size:1.3em;color:#333;}
		#groupTable .col4 {font-size:1.3em;color:#777;}

#p_group_view {}
	#p_group_view .viewTable {border-top:2px solid #5e9ce8;}
	#p_group_view .viewTable th {vertical-align:middle;}
	#p_group_view .viewTable td {padding-left:40px}
		.groupPicBox {width:100%;}
			.groupPicBox li {float:left;margin-right:20px;width:120px;height:90px;background:#f2f5f8;border:1px solid #e5e9ef;}

#p_online_edu {}
	.onlieEduBox {position:relative;float:left;margin-top:20px;}
		.onlieEduBox > li {float:left;width:50%;text-align:center;}
		.onlieEduBox > li:nth-child(1) {padding-bottom:55px;padding-right:50px;background:url(../images/sub/pc_online_edu_line_h.png) no-repeat 100% 0;}
		.onlieEduBox > li:nth-child(2) {padding-bottom:55px;padding-left:50px;background:url(../images/sub/pc_online_edu_line_w.png) no-repeat 0 100%;}
		.onlieEduBox > li:nth-child(3) {padding-top:55px;padding-right:50px;background:url(../images/sub/pc_online_edu_line_w.png) no-repeat 0 0;}
		.onlieEduBox > li:nth-child(4) {padding-top:55px;padding-left:50px;background:url(../images/sub/pc_online_edu_line_h.png) no-repeat 0 0;}
			.sitePreviewBox {position:relative;display:inline-block;width:250px;}
				.sitePreviewBox a {position:absolute;top:50%;left:50%;margin-top:-30px;margin-left:-30px;display:inline-block;width:60px;height:60px;background:url(../images/sub/pc_online_edu_go.png) no-repeat;}
			.onlieEduBox h5 {margin:20px 0 15px 0;font-size:1.8em;letter-spacing:-0.025em;color:#333;}
			.onlieEduBox p {display:inline-block;width:280px;font-size:1.3em;letter-spacing:-0.025em;color:#777;text-align:left;}
			.siteDesc {display:inline-block;margin-top:20px;width:200px;}
				.siteDesc li {padding-left:20px;width:100%;text-align:left;font-size:1.3em;letter-spacing:-0.025em;color:#777;background:url(../images/common/blt_num_bg4.png) no-repeat 0 50%;}
		.onlieEduBox > li.centerImg {position:absolute;top:50%;left:50%;margin-top:-117px;margin-left:-117px;width:234px;height:234px;}

#p_gg_lifelong {}
	.doubleDescBox {float:left;margin-bottom:60px;padding:10px;width:100%;background:#f8f8f8;border:1px solid #e2e2e2;}
		.doubleDescBox ul {float:left;padding:45px;width:100%;background:#fff;}
			.doubleDescBox p {font-size:1.6em;letter-spacing:-0.025em;color:#666;text-align:center;}
	.ggLifelongBox {float:left;margin-bottom:60px;width:100%;}
		.ggLifelongBox li {float:left;width:25%;background:url(../images/sub/pc_gg_lifelong_line_h.png) no-repeat 100% 50%;}
		.ggLifelongBox li:last-child {background:none;}
			.ggLifeItem {width:100%;height:230px;}
			.ggLifeItem h5 {font-size:2.2em;letter-spacing:-0.025em;color:#333;text-align:center;}
			.ggLifeItem p {margin-top:180px;font-size:1.8em;letter-spacing:-0.025em;color:#666;text-align:center;}
			.ggLifelongBox li:nth-child(1) .ggLifeItem {background:url(../images/sub/pc_gg_lifelong_01.png) no-repeat 50% 50%;}
			.ggLifelongBox li:nth-child(2) .ggLifeItem {background:url(../images/sub/pc_gg_lifelong_02.png) no-repeat 50% 50%;}
			.ggLifelongBox li:nth-child(3) .ggLifeItem {background:url(../images/sub/pc_gg_lifelong_03.png) no-repeat 50% 50%;}
			.ggLifelongBox li:nth-child(4) .ggLifeItem {background:url(../images/sub/pc_gg_lifelong_04.png) no-repeat 50% 50%;}
	.ggLifelong_btn {float:left;width:100%;text-align:center;}
		.ggLifelong_btn img {width:290px;}
		.ggLifelong_btn p {margin-top:20px;font-size:1.5em;letter-spacing:-0.025em;color:#777;}

#p_public_facilities {}
	.public_facilitiesImg {}
	.public_facilitiesTxt {}
	.public_facilitiesTxt {float:left;width:100%;}
		.public_facilitiesTxt li {float:left;margin-right:40px;width:440px;}
		.public_facilitiesTxt li:first-child,
		.public_facilitiesTxt li:last-child {margin-right:0px;width:100%;}
		.public_facilitiesTxt li:nth-child(2n+3) {margin-right:0px;width:420px;}
		.public_facilities_btn {margin-top:50px;text-align:center;}
				.public_facilities_btn a img {width:290px;}

/* yard */
#p_notice_list {}
	#noticeTable {}
		#noticeTable td {line-height:29px;}
		#noticeTable .col1 {font-size:1.3em;color:#777;}
		#noticeTable .col2 {padding-left:30px;font-size:1.3em;letter-spacing:-0.025em;color:#222;text-align:left;}
		#noticeTable .col3 {font-size:1.3em;color:#333;}
		#noticeTable .col4 {font-size:1.3em;color:#777;}
		#noticeTable .col5 {font-size:1.3em;color:#777;}

#p_notice_view {}
	.relatedBox {border-top:1px solid #ddd;}
	.relatedBox  td a {color:#365982;}

#p_free_list {}
	#p_free_list .doubleDescBox {margin-bottom:30px;}
		#p_free_list .doubleDescBox ul {padding:30px 30px 30px 65px;}
			#p_free_list .doubleDescBox li {background:url(../images/sub/pc_free_list_01.png) no-repeat;}
			#p_free_list .doubleDescBox p {padding-left:80px;height:62px;font-size:1.4em;letter-spacing:-0.025em;color:#555;text-align:left;}
			#p_free_list .doubleDescBox p span {color:#dd3131;}
	#freeTable {}
		#freeTable td {line-height:29px;}
		#freeTable .col1 {font-size:1.3em;color:#777;}
		#freeTable .col2 {padding-left:30px;font-size:1.3em;letter-spacing:-0.025em;color:#222;text-align:left;}
		#freeTable .col3 {font-size:1.3em;color:#333;}
		#freeTable .col4 {font-size:1.3em;color:#777;}
		#freeTable .col5 {font-size:1.3em;color:#777;}

#p_free_view {}

#p_data_img_list {}
	#dataTab.tabBox li {float:left;width:33%;}
	#dataTab.tabBox li:last-child {width:34%;}

	#p_data_img_list .listSearchBox3 {margin-bottom:0;}
	.data_list_box {float:left;width:100%;}
		.data_list_box li {float:left;margin-top:30px;width:310px;}
		.data_list_box li:nth-child(3n+3) {width:280px;}
			.dataItem {float:left;width:280px;}
				.dataItem .thumImg {position:relative;margin-bottom:10px;float:left;width:100%;height:158px;}
					.thumImg img {width:100%;}
				.overImg {position:absolute;bottom:0;left:0;width:100%;height:100%;}
			.dataTitle a {float:left;width:100%;font-size:1.6em;letter-spacing:-0.025em;color:#666;font-weight:bold;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
			.dataInfo {float:left;margin-top:2px;font-size:1.3em;color:#999;}
				.dataInfo span {margin:0 10px;color:#ccc;}

#p_data_img_view {}
	#p_data_img_view .viewCon img {max-width:860px;}

#p_data_mov_list {}
	#p_data_mov_list .listSearchBox3 {margin-bottom:0;}

#p_data_mov_view {}
	#p_data_mov_view .viewCon object {display:block;margin:0 auto;margin-bottom:40px;width:640px;height:360px;}

#p_data_gnr_list {}
	#p_data_gnr_list .descBox {margin-top:0;padding:0 15px;font-size:1.3em;letter-spacing:-0.025em;color:#555;line-height:20px;}
		#p_data_gnr_list .descBox span {color:#dd3131;}
	#data_gnrTable {}
		#data_gnrTable td {line-height:29px;}
		#data_gnrTable .col1 {font-size:1.3em;color:#777;}
		#data_gnrTable .col2 {padding-left:30px;padding-left:30px;font-size:1.3em;letter-spacing:-0.025em;color:#222;text-align:left;}
		#data_gnrTable .col3 {font-size:1.3em;color:#333;}
		#data_gnrTable .col4 {font-size:1.3em;color:#777;}
		#data_gnrTable .col5 {font-size:1.3em;color:#777;}

#p_data_gnr_view {}

#p_quest_reg {}
	#p_quest_reg .writeTable th,
	#p_quest_reg .writeTable td {height:50px;vertical-align:middle;}
	.wirterBox {font-size:14px;color:#365982;}
		.wirterBox span {color:#4c92e7;}
	.webEditorBox {width:100%;}
	#p_quest_reg .fileInputType {width:220px;}

#p_faq_list {}
	#p_faq_list .tl_1 {width:10%;font-family:"tahoma";font-size:1.8em;color:#5496e5;}
	#p_faq_list .tl_2 {width:80%;font-size:1.4em;text-align:left;}
	#p_faq_list .tl_3 {padding-right:50px;width:10%;text-align:right;}

#p_report_data_list {}
	#report_dataTable {}
		#report_dataTable td {line-height:29px;}
		#report_dataTable .col1 {font-size:1.3em;color:#777;}
		#report_dataTable .col2 {padding-left:30px;font-size:1.3em;letter-spacing:-0.025em;color:#222;text-align:left;}
		#report_dataTable .col3 {font-size:1.3em;color:#333;}
		#report_dataTable .col4 {font-size:1.3em;color:#777;}
		#report_dataTable .col5 {font-size:1.3em;color:#777;}

#p_report_data_view {}

/* mypage */
#p_favolit_lec_list {}
	.listSearchBox3 {float:left;margin-bottom:30px;padding:30px 30px 30px 80px;width:100%;background:#f7f7f7;}
	.listSearchBox3 .select * {font-family:'nanum gothic';}
	.listSearchBox3 .select {float:left;margin-right:3px;color:#555;background:#fff;}
		.listSearchBox3 .select .myValue {width:170px;font-size:14px;letter-spacing:-0.025em;color:#555;font-weight:normal;text-indent:10px;border:1px solid #bbb;}
		.listSearchBox3 .select .ctrl {background:url(../images/common/search_arrow_down_g.png) no-repeat 0% 55%;}
		.listSearchBox3 .select.open .myValue,
		.listSearchBox3 .select .myValue.outLine {border:1px solid #aaa;}
		.listSearchBox3 .select ul {border-right:1px solid #aaa;border-bottom:1px solid #aaa;border-left:1px solid #aaa;}
		.listSearchBox3 .select li {border:0;}
			.listSearchBox3 .select li a {font-size:14px;letter-spacing:-0.025px;color:#555;font-weight:normal;text-indent:13px;text-decoration:none;background:#fff;}
			.listSearchBox3 .select li.hover * {color:#555;background:#eee;}
		.listSearchBox3 .select button.myValue,
		.listSearchBox3 .select div.myValue {height:40px;}
		.listSearchBox3 .select ul {top:37px;}
		.listSearchBox3 .select .ctrl,
		.listSearchBox3 .select li,
		.listSearchBox3 .select li a {height:37px;}
		.listSearchBox3 .select li a {line-height:37px;}
	.listSearchBox3 .searchWrap {float:left;position:relative;display:inline-block;border:0px}
		.listSearchBox3 .searchWrap input[type="text"] {float:left;margin-left:15px;width:435px;height:40px;line-height:40px;text-align:center;font-size:13px;letter-spacing:-0.025px;color:#999;border:1px solid #bbb;background:#fff;}
		.listSearchBox3 .searchWrap input[type="text"]:focus {color:#555;font-weight:bold;}
		.listSearchBox3 .searchWrap .listSearchBtn {float:left;margin-left:15px;width:110px;height:40px;line-height:40px;font-size:1.8em;letter-spacing:-0.025em;font-weight:bold;color:#fff;text-align:center;background:#707ff2;border-radius:5px;}
	#favolit_lecTable {}
		#favolit_lecTable .col1 {font-size:1.3em;color:#777;}
		#favolit_lecTable .col2 {padding-left:30px;font-size:1.3em;letter-spacing:-0.025em;color:#222;text-align:left;}
		#favolit_lecTable .col3 {font-size:1.3em;color:#777;}

#p_my_word_list {}
	#my_wordTable {}
		#my_wordTable .col1 {font-size:1.3em;color:#777;}
		#my_wordTable .col2 {padding-left:30px;font-size:1.3em;letter-spacing:-0.025em;color:#222;text-align:left;}
		#my_wordTable .col3 {font-size:1.3em;color:#777;}

#p_my_quest_list {}
	#my_questTable {}
		#my_questTable .col1 {font-size:1.3em;color:#777;}
		#my_questTable .col2 {padding-left:30px;font-size:1.3em;letter-spacing:-0.025em;color:#222;text-align:left;}
		#my_questTable .col3 {font-size:1.3em;}
			.answ_sts1 {color:#d8294e;}
			.answ_sts2 {color:#5e69bd;}
		#my_questTable .col4 {font-size:1.3em;color:#777;}

/* sitemap */
#p_sitemap {}
	#sitemapBox {float:left;width:100%;border-top:2px dotted #e8e8e8;}
		.depth1 {float:left;width:100%;border-bottom:2px dotted #e8e8e8;}
			.depth1 dt, .depth1 dd {float:left;padding-top:35px;padding-bottom:35px;}
			.depth1 dt {width:22%;font-size:1.8em;letter-spacing:-0.025em;font-weight:bold;color:#333;}
			.depth1 dd {width:78%;}
				.depth2 {float:left;width:100%;}
				.depth2_2 {margin-top:30px;padding-top:30px;border-top:1px dotted #e8e8e8;}
					.depth2 > li {float:left;}
						.depth2 > li > a {display:block;padding-right:50px;padding-left:15px;font-size:1.3em;letter-spacing:-0.025em;color:#666;font-weight:bold;background:url(../images/common/blt_dot_li2.png) no-repeat 0 8px;}
						.depth1_1 .depth2 > li:last-child > a {padding-right:0;}
						.depth1_2 .depth2 > li > a {padding-right:32px;}
						.depth1_2 .depth2_2 > li > a {padding-right:55px;}
						.depth1_3 .depth2 > li > a {padding-right:80px;}
						.depth1_4 .depth2 > li > a {padding-right:60px;}
						.depth1_5 .depth2 > li > a {padding-right:60px;}
						.depth3 {float:left;margin-top:10px;}
							.depth3 > li {margin-left:15px;}
								.depth3 > li > a {display:block;font-size:1.3em;letter-spacing:-0.025em;color:#777;font-weight:normal;}
						.depth2 > li > a:hover,
						.depth3 > li > a:hover {color:#5f70ea;}
#p_certify {text-align:center;}
	#certifyBox {display:inline-block;padding:10px;width:720px;height:377px;background:#fafafa;border:1px solid #e6e6e6;}
		.certify_wBox {width:100%;height:100%;background:#fff;}
			.certiBtnBox {display:inline-block;margin-top:110px;padding-left:130px;height:115px;background:url(../images/sub/pc_certify_01.png) no-repeat;}
				.certiBtnBox h3 {font-size:3.2em;color:#222;}
				.certiBtn {display:inline-block;margin-top:20px;width:255px;line-height:45px;font-size:1.8em;color:#5884b6;font-weight:bold;background:#f0f5fa;border:1px solid #e4eaf2;border-radius:3px;}
			.certiGuide {display:block;margin-top:30px;font-size:1.5em;letter-spacing:-0.025em;color:#777;}




