@charset "utf-8";
@import "reset.css";
@import "simple.css";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css";

/*
===============================================================================================
1.	버    전 : common.css
2.	작 성 자 : Ryu
3.	참    고 : 공통
===============================================================================================
*/

/* common */
input, select {border:0;}
select {padding:0 10px;width:100%;height:30px;background:#fff;}
input[type="text"],input[type="password"] {float:left;padding:0 0 0 10px;width:80%;height:28px;line-height:28px;font-size:1.2em;}
input.hideInput {display:none;}
.checkIcon {float:left;padding-left:20px;background:url(../image/common/checkbox_icon2_off.png) no-repeat 0 2px;background-size:15px;cursor:pointer;}
input[type="checkbox"]:checked + .checkIcon {background:url(../image/common/checkbox_icon2_on.png) no-repeat 0 2px;background-size:15px;cursor:pointer;}
.radioIcon {float:left;padding-left:20px;background:url(../image/common/radio_icon_off.png) no-repeat 0 2px;background-size:15px;cursor:pointer;}
input[type="radio"]:checked + .radioIcon {background:url(../image/common/radio_icon_on.png) no-repeat 0 2px;background-size:15px;cursor:pointer;}

.hidden {width:0;height:0;position:absolute;top:-5000px;text-indent:-5000px;font-size:0;line-height:0;}
.ellipsis {text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.essential {display:inline-block;margin-left:4px;width:6px;height:6px;font-size:0;background:url(../image/common/bul_star.png) no-repeat 0 0;background-size:6px;}
.bgFFF {background:#fff;}

/* color */
.mainBgColor {background:#48c1c8;}
.mainBorderColor {border:1px solid #48c1c8;}
.pointC1Bg {background:#334475;}
.pointC1Border {border:1px solid #1b2c5f;}
.pointC2Bg {background:#ce3a5c;}
.pointC2Border {border:1px solid #a52347;}
.pointC3Bg {background:#eb2f3b;}
.pointC3Border {border:1px solid #eb2f3b;}
.pointC4Bg {background:#3562b2;}
.pointC4Border {border:1px solid #3562b2;}
.pointC5Bg {background:#fe4b4e;}
.pointC5Border {border:1px solid #ee3b3e;}
.bodyBgColor_g {background:#f6f6f6;}
.bgColor_w {background:#fff;}
.borderColor_w {border:1px solid #ccc;}
.bgColor_g1 {background:#f8f8f8;}
.borderColor_g1 {border:1px solid #e8e8e8;}
.borderBColor_g1 {border-bottom:1px solid #e8e8e8;}
.bgColor_g2 {background:#ebebeb;}
.borderColor_g2 {border:1px solid #c8c8c8;}

.grid5 {float:left;width:5%;}
.grid10 {float:left;width:10%;}
.grid15 {float:left;width:15%;}
.grid20 {float:left;width:20%;}
.grid25 {float:left;width:25%;}
.grid30 {float:left;width:30%;}
.grid35 {float:left;width:35%;}
.grid40 {float:left;width:40%;}
.grid45 {float:left;width:45%;}
.grid50 {float:left;width:50%;}
.grid55 {float:left;width:55%;}
.grid60 {float:left;width:60%;}
.grid65 {float:left;width:65%;}
.grid70 {float:left;width:70%;}
.grid75 {float:left;width:75%;}
.grid80 {float:left;width:80%;}
.grid85 {float:left;width:85%;}
.grid90 {float:left;width:90%;}
.grid95 {float:left;width:95%;}
.grid100 {float:left;width:100%;}

.evtStatus1, .evtStatus2,
.courseStatus1, .courseStatus2, .courseStatus3 {padding:2px 0;width:63px;text-align:center;border-radius:15px;font-weight:bold;color:#fff;}
.appStatus1, .appStatus2 {display:inline-block;padding:2px 0;width:50px;text-align:center;border-radius:15px;font-weight:bold;color:#fff;}
.evtStatus1, .courseStatus1 {background:#eb2f3b;}
.evtStatus2, .courseStatus2 {background:#3562b2;}
.courseStatus3 {background:#999;}
.appStatus1 {background:#86b91e;}
.appStatus2 {background:#f29e1a;}
.countBox {display:inline-block;padding:2px 10px;text-align:center;border-radius:15px;font-size:1.2em;font-weight:bold;color:#fff;background:#646464;}

/* btns */
.btnTcMain {color:#48c1c8;}
.btnTcFFF {color:#fff;}
.btnTcG {color:#787878;}
.btnTcO {color:orange;}
.btnTcR {color:#eb2f3b;}

.btnBox_bottom {position:absolute;bottom:0;width:100%;}
.btnBox {float:left;width:100%;}
.pageBtnBox {float:left;width:100%;margin-top:20px;}
.btnBoxSmall {float:left;margin:15px 0;width:100%;text-align:center;}
.btnBoxSmall a:first-child {margin-right:5px;}
.btnBoxRight {float:right;}

.btnS {text-align:center;}
.btnFull {width:100%;height:45px;line-height:45px;font-size:1.6em;text-align:center;font-weight:bold;cursor:pointer;}
.btnFull2 {margin-left:10%;width:90%;height:35px;line-height:35px;font-size:1.4em;text-align:center;font-weight:bold;cursor:pointer;}
.btnFull3 {width:80%;height:25px;line-height:25px;font-size:1.2em;text-align:center;font-weight:bold;cursor:pointer;}
.btnFull4 {width:100%;height:35px;line-height:35px;font-size:1.2em;text-align:center;font-weight:bold;cursor:pointer;}
.pageBtnFull1,
.pageBtnFull2,
.pageBtnFull3,
.pageBtnFull4 {width:100%;height:40px;line-height:40px;font-size:13px;text-align:center;font-weight:bold;cursor:pointer;color:#fff;}
.pageBtnFull1 {background:#e0e0e0;color:#464646;}
.pageBtnFull2 {background:#525fae;}
.pageBtnFull3 {background:#2985cc;}
.pageBtnFull4 {background:#515151;}
.popBtn {display:inline-block;padding:10px 20px;font-size:1.4em;font-weight:bold;cursor:pointer;}
.popBtn2 {display:inline-block;width:48%;padding:15px 0;font-size:1.4em;font-weight:bold;cursor:pointer;}
.popBtn3 {display:inline-block;width:50%;padding:5px 0;font-weight:bold;text-align:center;cursor:pointer;}
.popBtn4 {display:inline-block;padding:5px 10px;font-weight:bold;text-align:center;cursor:pointer;}
.popBtn2small {display:inline-block;padding:8px 15px;font-size:1.2em;font-weight:bold;cursor:pointer;}

.backMoveBtn {cursor:pointer;}
.comepareBtn {display:block;height:28px;line-height:28px;text-align:center;font-weight:bold;cursor:pointer;}
.xBtn {float:right;margin-top:4px;width:12px;height:12px;background:url(../image/common/bul_x.png) no-repeat;background-size:12px;}

/* title */
header ul {width:100%;}
header ul li {float:left;font-size:1.4em;}
header ul li a {display:block;width:100%;color:#fff;font-size:1.6em;}
header ul li i {}
header ul .backBtn {width:10%;text-align:left;font-size:1em;}
header ul .backBtn img {width:10px;}
header ul .pageTitle {padding-top:2px;width:80%;color:#fff;font-weight:bold;text-align:center;}
header ul .menuBtn {width:10%;text-align:right;font-size:1em;}
header ul .menuBtn img {width:18px;}
header ul .pageTitle2 {width:80%;color:#fff;font-weight:bold;text-align:left;}
header ul .pageCloseBtn {width:20%;text-align:right;font-size:1em;}
header ul .pageCloseBtn img {width:16px;}
.middleSubTitle {float:left;padding-top:10px;padding-bottom:10px;width:90%;font-weight:bold;background:#f6f6f6;border-bottom:1px solid #e8e8e8;}
.middleSubTitle2 {float:left;padding-top:10px;padding-bottom:10px;width:90%;font-weight:bold;background:#f6f6f6;border-bottom:2px solid #48c1c8;}
.middleSubTitle3 {float:left;padding-top:10px;padding-bottom:10px;width:90%;font-weight:bold;background:#fff;border-bottom:1px solid #e8e8e8;font-size:1.2em;}

/* pageSub */
.pageSubTitle {float:left;margin-top:15px;padding:10px 0;width:100%;border-bottom:2px solid #4e4e4e;background: url("../image/common/bul_circle.png") no-repeat 0 12px;background-size:14px;}
.pageSubTitle span {margin-left:18px;font-size:1.4em;font-weight:bold;}
.pageSubText {float:left;padding:10px 5%;width:90%;line-height:1.6em;border-bottom:1px solid #ccc;}
.pageSubNoText {float:left;padding:10px 5%;width:90%;height:300px;font-size:1.2em;text-align:center;font-weight:bold;border-bottom:1px solid #ccc;}
.pageSubNoText img {margin:90px 0 15px 0;width:50px;}

/* searchLine */
.searchLine {float:left;padding:15px 0;width:100%;}
.searchLine .searchLineDiv {height:35px;}
.searchLine .searchLineDiv select {width:90%;height:100%;border:1px solid #ddd;}
.searchLine .searchLineDiv input[type="text"] {width:70%;height:35px;line-height:35px;font-size:1em;}
.searchLine .searchLineDiv .fa-search {float:right;margin-right:10px;line-height:35px;font-size:1.6em;color:#7f7f7f;}

/* listLine */
.listBox {float:left;width:100%;}
.listBox > li {float:left;width:100%;border-bottom:1px solid #e8e8e8;}
.listBox li .listLine {float:left;padding:10px 0;font-size:1.2em;width:100%;}
.listBox li .listLine .ls1 {}
.listBox li .listLine .ls1 p {text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.newDocIcon {margin-left:10px;width:18px;}
.newDoc {width:18px;height:18px;background:url(../image/common/bul_new.png) no-repeat;background-size:18px;}
.listBox li .listLine .ls2 {float:right;text-align:right;}
.arrow_r_g {width:9px;height:16px;background:url(../image/common/arrow_r_g.png) no-repeat;background-size:9px; }

/* toggleListLine */
.toggleListBox {float:left;width:100%;}
.toggleListBox > li {float:left;width:100%;}
.tListTitle {float:left;padding:10px 0;width:100%;border-bottom:1px solid #e8e8e8;}
.tListTitle a {color:#777;}
.tListCon {display:none;float:left;padding:10px 0;width:100%;border-bottom:1px solid #e8e8e8;background:#f6f6f8;}
.tListCon ul li {margin:0 0 0 5%;padding:2px 4% 2px 8%;width:83%;color:#7d7d7d;background: url("../image/main/bul_board.gif") no-repeat 3% 50%;background-size:4px;}

/* pagingBoxWrap */
.pagingBoxWrap {float:left;width:100%;margin-top:20px;text-align:center;}
.pagingBox {display:inline-block;}
.pagingBox li {float:left;padding:3px;width:20px;height:20px;line-height:20px;text-align:center;cursor:pointer;}
.pagingBox .numBtn {margin:0 2px;border:1px solid #999;}
.pagingBox .numBtn a {font-size:1.2em;font-weight:bold;}
.pagingBox .abL, .pagingBox .abLL {border-right:1px solid #eaeaea;}
.pagingBox .abR, .pagingBox .abRR {border-left:1px solid #eaeaea;}
.pagingBox .abL {margin-right:10px;}
.pagingBox .abR {margin-left:10px;}
.pagingBox .angleBtn a {font-size:1.6em;color:#6a6a6a;}
.pagingBox .numBtn:hover, .pagingBox .actOn {border:1px solid #48c1c8;}
.pagingBox .angleBtn:hover a, .pagingBox .numBtn:hover a, .pagingBox .actOn a {color:#48c1c8;}

/* table */
.tableStyle1 {width:100%;}
.tableStyle1 th, .tableStyle1 td {padding:5px 5%;}
.tableStyle1 th {width:30%;text-align:left;vertical-align:middle;color:#444;background:#f2f2f2;border-right:1px solid #e8e8e8;border-bottom:1px solid #e8e8e8;}
.tableStyle1 td {width:70%;border-bottom:1px solid #e8e8e8;color:#777;}

.tableStyle2 {width:100%;}
.tableStyle2 th, .tableStyle2 td {padding:10px 5%;}
.tableStyle2 th {width:30%;text-align:left;vertical-align:middle;color:#444;background:#f2f2f2;border-right:1px solid #e8e8e8;border-bottom:1px solid #e8e8e8;}
.tableStyle2 td {width:70%;border-bottom:1px solid #e8e8e8;color:#777;}

.tableStyle1 tr:last-child th,
.tableStyle1 tr:last-child td,
.tableStyle2 tr:last-child th,
.tableStyle2 tr:last-child td {border-bottom:0;}

/* a color */
.loginBottom a,
.noticeListBox a,
.pagingBoxWrap a {color:#666;} /* 20160512 추가 */

/* divPopup */
.divPopupBg {display:none;position:fixed;width:100%;height:100%;background:#000;opacity:0.8;z-index:100px;}
.divPopupBox {display:none;position:fixed;width:90%;top:50%;left:50%;background:#fff;}
	.popHeader {float:left;width:100%;padding:15px 0;color:#fff;font-weight:bold;}
		.popHeader li {float:left;}
		.popHeader li:first-child {margin-right:10px;}
		.popHeader .popTitle {float:left;font-size:1.6em;}
		.popHeader li:last-child {float:right;}
		.prosivionIcon {width:20px;}
		.closeIcon {width:16px;cursor:pointer;}
	.popContent {float:left;width:100%;padding:30px 0 0 0;}
		.popContent .textBox {padding:15px;max-height:250px;overflow-x:hidden;overflow-y:auto;border:1px solid #eee;}
		.popContent .tableInputBox {max-height:250px;overflow-x:hidden;overflow-y:auto;border:1px solid #eee;}
		.popContent .searchInputBox {float:left;margin-bottom:10px;padding:10px 5%;width:90%;font-size:1.6rem;color:#ccc;border:1px solid #e8e8e8;}
		.popContent .searchInputBox input {float:left;width:90%;height:25px;}
		.popContent .searchInputBox i {float:right;margin-top:5px;}
		.popContent .searchListBox {float:left;width:100%;max-height:250px;overflow-x:hidden;overflow-y:auto;border-top:2px solid #787878;}
		.popContent .searchListBox li {float:left;padding:10px 5%;width:90%;border-bottom:1px solid #ddd;}
		.subTitle {float:left;width:100%;padding:0 0 10px 0;border-bottom:2px solid #363636;}
		.subContent {float:left;width:100%;border-bottom:1px solid #ddd;}
		.subContent .oneLine {margin:30px 0;width:100%;text-align:center;font-size:1.5em;}
		.subContent ul li {float:left;width:100%;margin-bottom:10px;}
		.subContent ul li input {float:left;padding:0 10px;width:90%;height:35px;line-height:35px;font-size:1.4em;}
		.subContent .oneLine2 {padding:20px 0;width:100%;font-size:1.5em;border-bottom:1px solid #ddd;}
		.subContent .oneLine2 dl {float:left;font-weight:bold;}
		.subContent .oneLine2 dt {float:left;margin-left:15px;font-size:1.6em;}
		.subContent .oneLine2 dd {float:left;font-size:1.6em;}
		.subContent .guideText {padding:5px 15px;}
	.popBtnBox {float:left;margin:20px 0 30px 0;width:100%;text-align:center;}

	.popZipBox {}
		.zipSearchBox {float:left;width:100%;}
			.zipSearchBox .searchInputBox {padding:0;width:100%;height:35px;}
				.zipSearchBox .searchInputBox input {margin:5px;width:70%;}
				.zipsearchBtn {display:inline-block;float:right;width:11%;height:100%;background:url(../image/common/bul_search.png) no-repeat 50% 50%;background-size:19px;border-left:1px solid #e8e8e8;}
		.zipSrchDesc {float:left;margin-bottom:5px;padding-left:13px;width:100%;background:url(../image/common/bul_star2.png) no-repeat 0 50%;background-size:9px;}
		.popZipBox .searchListBox {min-height:130px;border-top:2px solid #787878;border-bottom:2px solid #787878;}
			.emptyZipText {margin-top:10px;padding:10%;;width:80%;line-height:1.8em;font-size:1.3em;color:#bababa;text-align:center;}
			.srchTitle {float:left;width:100%;height:35px;line-height:35px;font-size:1.4em;color:#515d84;font-weight:bold;text-align:center;background:#f2f2f2;border-bottom:1px solid #dcdcdc;}
			.addrLink {display:inline-block;width:100%;}
				.z_code {font-size:1.2em;color:#3d3d3d;}
				.z_addrs1 {font-size:1.2em;color:#3d3d3d;}
				.z_addrs2 {padding:2px 0;font-size:1.2em;color:#777;}
					.oldZip {display:inline-block;margin-right:5px;padding:2px 5px;font-size:0.9em;color:#fff;background:#7d7d7d;}
			.detailAddrsBox {float:left;margin:20px 5%;width:90%;}
				.oldAddrs {font-size:1.2em;color:#777;}

