@charset "utf-8";

/*
===============================================================================================
1.	버    전 : layout.css
2.	작 성 자 : 류승현
3.	참    고 : 서브페이지 레이아웃
===============================================================================================
*/

#wrap {width:100%;}
.widthWrap {width:90%;padding-right:5%;padding-left:5%;}

/* common */
header,
#container, .contents,
footer {float:left;width:100%;}

/* header */
header {height:45px;line-height:45px;border-bottom:1px solid #52adb9;}


/* container */
#container {}
	.contents {}

/* footer */
footer {}

@media screen and (max-width:768px) {

}





