@charset "utf-8";
@import "common.css";
@import "layout.css";

/*
===============================================================================================
1.	버    전 : sub_common.css
2.	작 성 자 : 류승현
3.	참    고 : 서브 컨텐츠
===============================================================================================
*/

/* 인트로 intro */
body.bodyBg_intro01 {background:#0f8dcd;}
body.bodyBg_intro02 {background:url(../image/common/intro02_bg.gif);}
.introBox {position:absolute;top:30%;width:100%;text-align:center;}
	.introBox img {width:80%;}
.introBottomBox {position:absolute;bottom:50px;width:100%;text-align:center;}
	.introBottomBox img {width:88px;}

/* 로그인 login */
body.bodyBg_login {background:url(../image/member/login_bg.gif);}
.loginWrap {width:100%;}
.loginTop {float:left;width:80%;margin:15% 10% 10% 10%;}
.loginMiddle {float:left;width:100%;}
	.loginTitle {width:140px;margin-bottom:15px;}
	.loginInput {float:left;width:100%;margin:0 0 10px 0;background:#fff;border:1px solid #e8e8e8;}
	.loginInputT {width:90%;padding:5px 5%;height:42px;font-size:1.4em;}
	.loginMiddle input[type="text"], .loginMiddle input[type="password"] {height:42px;line-height:42px;}
	.loginBtn {float:left;width:100%;margin:0 0 10px 0;padding:15px 0;color:#fff;font-size:1.4em;font-weight:bold;text-align:center;}
.loginBottom {float:left;width:100%;margin-bottom:20px;}
	.loginBottom li {float:left;width:33%;font-weight:bold;text-align:center;}
	.loginBottom li:first-child {width:30%;}
	.loginBottom li:last-child {width:36%;}
	.loginBottom li img {width:20px;}

/* 가입자구분선택 member_cate */
.member_cateBox {}
	.mmbDesc1 {margin-top:25px;font-size:1.4em;color:#4e4e4e;}
	.mmbDesc2 {margin-top:20px;margin-bottom:25px;font-size:1.1em;color:#777;}
		.fc1 {font-size:inherit;color:#003366;}
		.fc2 {font-size:inherit;color:#e85754;}
		.fc3 {font-size:inherit;color:#5a5a5a;}
	.mmbList {}
	.mmbList li {float:left;padding:20px 0;width:100%;background:#fff;border-top:1px solid #e8e8e8;}
	.mmbList li:last-child {border-bottom:1px solid #e8e8e8;}
		.mmbList li a {position:relative;float:left;width:100%;}
			.mmbCate {float:left;padding-left:25%;width:70%;}
			.mmbCate1 {background:url(../image/member/mamber_cate_1.png) no-repeat 0 50%;background-size:60px;}
			.mmbCate2 {background:url(../image/member/mamber_cate_2.png) no-repeat 0 50%;background-size:60px;}
			.mmbCate3 {background:url(../image/member/mamber_cate_3.png) no-repeat 0 50%;background-size:60px;}
				.mmbC_title {margin-bottom:7px;width:100%;font-size:1.4em;color:#464646;}
				.mmbC_Dest {width:100%;font-size:1.2em;color:#939292;}
			.mmbList li .arrow_r_g {position:absolute;top:50%;right:0;margin-top:-8px;}

/* 약관동의 provision */
.provisionBox {font-weight:bold;}
.provisionBox p {width:100%;padding:20% 0 20px 0;}
.prvList li {width:100%;height:45px;line-height:45px;background:#fff;border-top:1px solid #e8e8e8;}
.prvList li:last-child {border-bottom:1px solid #e8e8e8;}
.prvList li label {width:74%;font-size:1.2em;}
.prvList li a {float:right;width:10%;color:#c6c6c6;font-size:1.2em;text-align:right;}
.prvList li a .arrow_r_g {display:inline-block;}
.provisionBox input[type="checkbox"] {display:none;}
.provisionBox label {float:left;padding-left:30px;background:url(../image/common/checkbox_icon_off.png) no-repeat 0 50%;background-size:20px;cursor:pointer;}
.provisionBox input[type="checkbox"]:checked + label {background:url(../image/common/checkbox_icon_on.png) no-repeat 0 50%;background-size:20px;cursor:pointer;}
.provisionBox .btnBox_bottom img {margin-top:-2px;width:8px;}

/* 인증 certify */
.certifyBox {}
	.crtfList {}
		.crtfList li {float:left;padding:20px 0;width:100%;background:#fff;border-bottom:1px solid #e8e8e8;}
			.crtfWrap {float:left;padding-left:23%;width:80%;}
			.crtfWrap1 {background:url(../image/member/certify_1.png) no-repeat 0 10px;background-size:60px;}
			.crtfWrap2 {background:url(../image/member/certify_2.png) no-repeat 0 10px;background-size:60px;}
				.crtf_title {margin-bottom:7px;width:100%;font-size:1.4em;color:#464646;}
				.crtf_Dest {font-weight:bold;width:100%;font-size:1.2em;color:#939292;}
				.crtfBtns {float:left;display:block;}
			.crtfBtns {margin-top:10px;background:#fbfbfb;}
				.crtfBtn1 a {display:block;padding:8px 25px 8px 10px;font-size:1.1em;color:#3d3d3d;background:url(../image/common/bul_right_arrow_b.png) no-repeat 90% 50%;background-size:7px;border:1px solid #ccc;}
				.crtfBtn2 a {display:block;padding:8px 25px 8px 10px;font-size:1.1em;color:#878686;background:url(../image/common/bul_right_arrow_g.png) no-repeat 90% 50%;background-size:7px;border:1px solid #ccc;}
	.crtfDescBox {float:left;width:100%;}
		.crtfDescBox li {margin-top:20px;padding-left:18px;font-size:1.2em;color:#464646;background:url(../image/common/bul_check.png) no-repeat 0 3px;background-size:12px;}

/* 서비스약관 f_provision */
.f_provisionBox {}
.f_h5 {font-size:1.2em;margin-top:20px;color:#666;}
.f_provisionBox p {width:100%;}
.rool_link {background:#fff;}
.rool_link li {padding:10px 0;border-top:1px solid #ddd;}
.rool_link li:last-child {border-bottom:1px solid #ddd;}
.rool_link li a {display:block;color:#333;font-weight:bold;}
.rool_link li .fa {float:right;margin-top:2px;font-size:16px;color:#999;}
.rool_box {margin-top:20px;background:#fff;border-bottom:1px solid #ddd;}
.rool_box h4 {padding:15px 0;border-top:1px solid #ddd;border-bottom:1px solid #ddd;}
.rool_box h4 > div.widthWrap {font-size:16px;font-weight:bold;line-height:1.4em;}
.rool_box h4 .moveTop {float:right;padding:0 10px;border:1px solid #999;border-radius:15px;color:#333;}
.box_hidden {padding-top:15px;padding-bottom:15px;}
.rool_dl {line-height:1.8em;}
.rool_dl dt {font-weight:bold;}
.rool_dl .one_list {margin-left:0px;}
.rool_dl .two_list {margin-left:0px;}
.rool_dl dd:last-child {margin-bottom:20px;}

/* 개인정보처리방침 f_privacy */
.f_privacyBox {}
.ul_text {margin-top:20px;}

/* 저작권정책 f_copyright */
.f_copyrightBox {}
.rool_ul {line-height:1.8em;}
.rool_ul li {margin-bottom:20px;}

/* 이메일무단수집거부 f_emailpolicy */
.f_emailpolicyBox {}
.f_emailpolicyBox p {margin-bottom:10px;}

/* 아이디찾기 id_find */
.idpwFindBox {}
.idpwFindBox .tabBox {float:left;width:100%;margin:30px 0 20px 0;}
.idpwFindBox .tabBox li {color:#7b7b7b;background:#f8f8f8;}
.idpwFindBox .tabTitle {padding:15px 0;width:100%;text-align:center;font-weight:bold;font-size:1.4em;cursor:pointer;}
.idpwFindBox .tabContent {display:none;}
.idpwFindBox #tabContent1 {display:block;}
.idpwFindBox .tabContent ul li {float:left;width:100%;margin-bottom:10px;}
.idpwFindBox .tabContent ul li.guideText {padding:10px 0 10px 25px;width:93%;font-size:1em;color:#7b7b7b;background:url(../image/member/guideIcon01.png) no-repeat 0 15px;background-size:20px;}
.idpwFindBox .tabContent ul li select {float:left;padding-left:10px;width:100%;height:37px;font-size:1.4em;background:#fff;}
.idpwFindBox .tabContent ul li div > input {margin:0 0 0 10%;padding:0;width:90%;text-align:center;}
.idpwFindBox .tabContent ul li div > input.emailInput {margin-left:0;padding:0 10px;width:92%;text-align:left;}
.idpwFindBox input[type="text"] {height:35px;line-height:35px;}
.idpwFindBox select {height:33px;line-height:33px;}

/* 회원정보확인 member_info */
.memberInfoBox {}
.memberInfoBox input[type="text"],.memberInfoBox input[type="password"] {width:80%;font-size:1em;}
.memberInfoBox .grid100 input[type="text"] {border:0;}
.telBox select {float:left;padding-left:10px;width:100%;background:#fff;}
.telBox input {margin:0 0 0 10%;padding:0;width:90%;text-align:center;}
.memberInfoBox .tableStyle1 tr:last-child th,
.memberInfoBox .tableStyle1 tr:last-child td {border-bottom:1px solid #e8e8e8;}
.zipcodeBtn {display:block;height:28px;line-height:28px;text-align:center;font-weight:bold;cursor:pointer;color:#e84824;border:1px solid #e84824}

/* 대회행사조회 event_list */
.eventListBox {}
.eventSearchCon {float:left;width:100%;margin-top:10px;padding-bottom:5px;border-bottom:2px solid #777;}
.eventSearchCon .searchConLine {height:35px;margin-bottom:8px;}
.eventSearchCon .searchConLine select {width:90%;border:1px solid #e8e8e8;}
.eventSearchCon .searchConLine input {}
.eventSearchCon .searchConLine .dateInput {width:60%;font-size:1em;}
.fa-calendar {float:left;margin-top:8px;margin-left:5px;width:15px;cursor:pointer;}
.eventSearchCon .searchConLine .midTxt {float:left;width:8%;height:35px;line-height:35px;text-align:center;}
.eventSearchCon .searchConLine .btnFull {font-size:1.2em;height:28px;line-height:28px;}
.eventSearchCon .searchConLine #toggleDetail .fa {font-size:1.2em;}
.eventSearchCon #searchDetailBox {display:none;float:left;margin-bottom:15px;width:100%;border:1px solid #ccc;}
#searchDetailBox .checkUl li {float:left;width:50%;}
#searchDetailBox select {width:100%;height:35px;border:1px solid #e8e8e8;}
#searchDetailBox .selectItemBox {float:left;margin:0 0 5px 0;padding:0 0;width:100%;border:1px solid #e8e8e8;}
#searchDetailBox .selectItemBox .selectItem {float:left;margin:3px;}
#searchDetailBox .selectItemBox .selectItem .evtItemDel {display:inline-block;margin-left:2px;width:16px;height:16px;background:url(../image/common/bul_del.png) no-repeat 0 0;background-size:16px;}
#searchDetailBox .selectBtn {float:left;padding:3px 0;width:100%;text-align:center;border:1px solid #ccc;cursor:pointer;}
.eventListBox .evtL1 p {padding:4px 5%;width:90%;font-weight:bold;color:#4c4c4c;}
.eventListBox .evtL2 {text-align:right;}
.eventListBox .evtL3 {text-align:center;}
.eventListBox .evtL3 i {padding-top:0px;font-size:1.8em;}

/* 대회행사상세조회 event_view */
.eventViewBox {float:left;}
.eventNameTitle {float:left;padding:10px 0;width:100%;font-weight:bold;background:#4e4e4e;}
.eventNameTitle #eventName {font-size:1.2em;}
.eventViewBox #eventViewTable {float:left;margin-bottom:15px;border:1px solid #ccc;}
.eventViewBox .evtStatus1,
.eventViewBox .evtStatus2 {float:right;}

/* 행사안내상세보기 program_view */
.programViewBox {float:left;width:100%;}

/* 일정안내상세보기 schedul_view */
.schedulViewBox {float:left;}
.schedulViewBox .pageSubText {padding:0;width:100%;}
.schedulViewBox ul li {float:left;padding:10px 5%;width:90%;border-top:1px solid #ddd;}
.schedulViewBox ul li:first-child {border-top:0;}
.schT1 {color:#f8931f;font-size:1.2em;font-weight:bold;}
.schT2, .schT3 {color:#767676;}

/* 모집요강조회 app_info_view */
.appInfoViewBox {float:left;}
.appSearchCon {float:left;padding-bottom:5px;width:100%;border-bottom:2px solid #777;}
.appSearchCon .searchConLine {height:35px;margin-bottom:8px;}
.appSearchCon .searchConLine select {width:100%;height:100%;border:1px solid #ddd;}
.appSearchCon .searchConLine input {height:35px;line-height:35px;}
.appSearchCon .searchConLine .scrInput {width:92%}
.appSearchCon .searchConLine .searchSubmitBtn {float:right;width:100%;height:35px;line-height:35px;text-align:center;font-size:1.4em;}
.appInL1 p {padding:4px 5%;width:90%;font-weight:bold;color:#4c4c4c;}
.appInL2 {text-align:center;}
.appInL2 i {padding:4px 0;font-size:1.8em;}
.btnBoxRight a {display:block;margin-bottom:5px;}

/* 모집요강상세조회 app_detail_info_view */
.appDetailInfoViewBox {float:left;}
.appDetailInfoViewBox #appDeInfoTable {float:left;border:1px solid #ccc;}
.appDetailInfoViewBox .tListCon {padding:0;background:#fff;}
.appDetailInfoViewBox #appDeInfoTable2 {float:left;border-top:1px solid #e8e8e8;}

/* 모집안내상세보기 app_guide_view */
.appGuideViewBox {float:left;}
.appGuideViewBox #appDeInfoTable {float:left;border:1px solid #ccc;}
.appGuideTitle {float:left;padding:10px 0;width:100%;border-bottom:1px solid #e8e8e8;}

/* 대회참가신청 application_write */
.applicationBox {float:left;}
.applicationBox #applicationTable,
.applicationBox #courseInfoTable {float:left;}
#applicationTable select,
#courseInfoTable select {width:100%;}
#applicationTable input,
#courseInfoTable input {}
.applicationBox .countBox {margin-left:10px;}
.applicationBox .addFileBtn {float:right;padding:2px 10px;color:#fff;border:1px solid #c84426;background:#e84824;}
.toggleBtn,
.applicationBox .applyBtn,
.applicationBox .resetBtn {float:right;padding:2px 10px;cursor:pointer;}
.toggleBtn {color:#787878;border:1px solid #ccc;background:#fff;}
.applicationBox .applyBtn {color:#fff;border:1px solid #c84426;background:#e84824;}
.applicationBox .resetBtn {color:#787878;border:1px solid #ccc;background:#f8f8f8;}
.toggleBtn .fa {margin-left:5px;}
.toggleContents {display:none;float:left;width:100%;}
.applicationBox .appAttachL ul,
.applicationBox .appMemebrsL ul {width:100%;}
.applicationBox .appAttachL ul li,
.applicationBox .appMemebrsL ul li {float:left;width:100%;padding:10px 0;border-bottom:1px solid #e8e8e8;}
.applicationBox input[type="text"] {width:80%;font-size:1em;}
.applicationBox .grid100 input[type="text"] {border:0;}
.applicationBox .telBox select {float:left;padding-left:10px;width:100%;background:#fff;}
.applicationBox .telBox input {margin:0 0 0 10%;padding:0;width:90%;text-align:center;}
.applicationBox textarea {float:left;width:100%;height:50px;border:1px solid #e8e8e8;}
.applicationBox .tableStyle1 tr:last-child th,
.applicationBox .tableStyle1 tr:last-child td,
.applicationBox .tableStyle2 tr:last-child th,
.applicationBox .tableStyle2 tr:last-child td {border-bottom:1px solid #e8e8e8;}

/* 신청현황조회 app_current_list */
.appCurrentListBox {float:left;}
.appCurrentListBox .listBox > li {border-bottom:0;}
.appCrtList {float:left;width:100%;}
.appCrtList > li {float:left;width:100%;padding:10px 0;border-bottom:1px solid #e8e8e8;}
.appCrtList > li li{padding:0 0;}
.appCrtList .appUserName {margin-left:10px;font-size:1.2em;font-weight:bold;color:#333;}
.appCrtList .appBodyInfo {margin-left:10px;font-size:1.2em;font-weight:bold;color:#333;}

/* 대회참가신청결과 app_result_list */
.appResultListBox {float:left;}
.appReInL1 p {padding:4px 0;width:100%;font-weight:bold;color:#4c4c4c;}
.appResultListBox .tListCon,
.myAppListBox .tListCon {position:relative;display:block;border-bottom:0;}
.appResultListBox .tListCon .btnBoxRight,
.myAppListBox .tListCon .btnBoxRight {position:absolute;bottom:10px;right:0;}

/* 내신청내역조회 myapplication_list */
.myAppListBox {float:left;}

/* 강습회조회 winter_list */
.courseListBox {}
.courseListBox .crsL1 p {padding:4px 5%;width:90%;font-weight:bold;color:#4c4c4c;}
.courseListBox .crsL2 {text-align:right;}
.courseListBox .crsL3 {text-align:center;}
.courseListBox .crsL3 i {padding-top:0px;font-size:1.8em;}

/* 강습회상세조회 winter_view */
.courseViewBox {float:left;}
.courseNameTitle {float:left;padding:10px 0;width:100%;font-weight:bold;background:#4e4e4e;}
.courseNameTitle #courseName {font-size:1.2em;}
.courseViewBox #courseViewTable {float:left;border:1px solid #ccc;}

/* 참가자등록 participant_add */
.participantAddBox {float:left;}
.participantAddBox .tableStyle2 tr:last-child th,
.participantAddBox .tableStyle2 tr:last-child td {border-bottom:1px solid #e8e8e8;}

/* 공지사항 notice_list, notice_view */
.noticeListBox {float:left;}
.noticeListBox .searchLine {border-bottom:1px solid #e8e8e8;}
.noticeViewBox {float:left;}
.noticeViewBox .nvTitle,
.noticeViewBox .nvContent,
.noticeViewBox .nvAttachT,
.noticeViewBox .nvAttachL ul li,
.noticeViewBox .nvComentT,
.noticeViewBox .nvComentL ul li,
.noticeViewBox .nvComentW {float:left;width:100%;padding:10px 0;border-bottom:1px solid #e8e8e8;}
.noticeViewBox .nvTitle p,
.noticeViewBox .nvAttachT span,
.noticeViewBox .nvComentT span {font-size:1.2em;font-weight:bold;}
.noticeViewBox .nvContent ul li {padding:2px 2% 2px 6%;width:92%;background: url("../image/main/bul_board.gif") no-repeat 3% 50%;background-size:4px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.noticeViewBox .nvComentL p {margin:2px 0;color:#363636;}
.noticeViewBox .nvComentL p .clrCC,
.noticeViewBox .nvComentL p .fa {margin:0 10px;color:#999;}
.deleteIcon {margin:0 10px;width:12px;cursor:pointer;}
.noticeViewBox .nvComentW textarea {float:left;width:95%;height:50px;border:1px solid #e8e8e8;}
.noticeViewBox .nvComentW .nvCmtSubmit {float:right;width:90%;height:50px;line-height:50px;text-align:center;font-weight:bold;font-size:1.2em;color:#787878;border:1px solid #ccc;cursor:pointer;}
.noticeViewBox .countBox {float:right;}
.noticeViewBox .nvBtns {float:left;width:100%;padding:10px 0;}
.noticeViewBox .nvBtns .nvPrevBtn,
.noticeViewBox .nvBtns .nvNextBtn {float:left;margin-right:5px;padding:5px 12px;font-size:1.2em;font-weight:bold;}
.noticeViewBox .nvBtns .nvListBtn {float:right;padding:5px 12px;font-size:1.2em;font-weight:bold;}

@media screen and (max-width:768px) {

}





