@charset "utf-8";
@import "reset.css";
@import "simple.css";
@import "layout.css";

/*
===============================================================================================
1.	버    전 : common.css
2.	작 성 자 : Ryu
3.	참    고 : Common
===============================================================================================
*/

/* common */
.blind {position:absolute;width:0;height:0;font-size:0;line-height:0;overflow:hidden;visibility:hidden;}
.ellipsis {text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}

.tc_O {color:#ff3300;;font-size:inherit;font-weight:normal;}
.tc_r {color:#cc3333;font-size:inherit;}
.tc_b {color:#0099cc;font-size:inherit;}
.pointC1 {color:#4d64d6;}
.pointC2 {color:#d71f1f;}
.pointC3 {color:#0971d9;}
.pointC4 {color:#e33330;}
.star_red {color:#e33330;}
.star {display:inline-block;margin-left:3px;width:8px;height:9px;background:url(../images/common/blt_star.png) no-repeat;}
.bdt2s333 {border-top:2px solid #333;}
.bdt2sblue {border-top:2px solid #198dde;}

select {height:35px;line-height:35px;border:1px solid #ddd;}
input[type="text"] {padding-left:10px;padding-right:10px;height:35px;line-height:35px;border:1px solid #ddd;}
input[type="radio"],
input[type="checkbox"] {margin-top:-3px;margin-right:5px;}
textarea {padding:5px 10px;}

/* Select */
.select {position:relative; line-height:normal; display:inline-block; *display:inline; vertical-align:middle; background:#fff; *zoom:1;}
.select * {margin:0;padding:0;cursor:pointer;font-family:inherit;font-size:14px;font-weight:400;}
	.select .myValue {position:relative; z-index:200; left:0; top:0;  border:1px solid #c6c6c6; color:#666; line-height:19px; _line-height:normal; text-align:left; overflow:visible; background:transparent;}
	.select .myValue.selected {font-weight:400;}
	.select.open .myValue,
	.select .myValue.outLine {border:1px solid #333;}
	.select button.myValue {height:30px; width:100%; text-indent:5px; *text-indent:0; padding-left:10px; *padding-left:5px;}
	.select div.myValue {text-indent:8px;}
	.select .ctrl {position:absolute; top:0; right:0; width:30px;background:url(../images/common/blt_arrow_down_b.png) no-repeat 50% 50%;}
		.select .arrow {position:absolute; width:0; height:0; top:9px; right:6px; line-height:0; font-size:0; }
	.select ul {top:28px; left:0; width:100%; list-style:none; border:0; border-top:0px solid #fff; border-bottom:1px solid #333; background:#fff; overflow:hidden;}
		.select ul.aList {display:none;z-index:999;}
		.select.open ul.aList {display:block;}
		.select ul.iList {left:-2000%;}
		.select.open ul.iList {left:0;}
		.select li {position:relative;text-align:left; overflow:hidden; white-space:nowrap; border-left:1px solid #333; border-right:1px solid #333;}
			.select li input.option {position:absolute; width:100%; height:20px; line-height:20px;}
			.select li label {position:absolute; left:0; top:0; width:100%; text-indent:8px; *text-indent:6px; height:18px; line-height:18px; color:#767676; background:#fff;}
			.select li a {display:block;padding-left:7px;text-indent:8px; *text-indent:6px; line-height:32px; color:#767676; background:#fff; text-decoration:none;}
			.select li.hover * {background:#ebf0f7;}
		.select div.myValue ,
		.select .ctrl,
		.select li,
		.select li a {height:32px;}
#selectYear {margin-top:-8px;width:130px;}

/* gnb */
#gnb ul {float:left;width:100%;}
	#gnb li.gnbL {float:left;font-weight:bold;background:#198dde;}
	#gnb li.gnbR {float:right;background:#444;}
		#gnb li a {display:block;padding-left:15px;padding-right:15px;height:40px;line-height:40px;font-size:1.4em;letter-spacing:-0.025em;font-weight:400;color:#fff;}
		#gnb li.gnbR a {color:#d0d0d0;}
		#gnb li.gnbL:first-child a,
		#gnb li.gnbL a:hover {color:#0a5598;background:#fff;}
		#gnb li.gnbR a:hover {color:#fff;}
		#gnb li a:hover {color:#0a5598;}
		#gnb li.gnbL {border-right:1px solid #47a4e5;}
		#gnb li.gnbR {border-right:1px solid #606060;} 
		#gnb li.gnbR:last-child {border-left:1px solid #5783b9;}
		#gnb li:first-child {color:#0a5598;background:#fff;}
		#gnb li:first-child a {padding-left:15px;padding-right:15px;}

/* tnb */
#topLogo {margin:0 auto;margin-top:25px;width:267px;}

/* lnb */
.lnb_1d {position:relative;float:left;width:100%;}
	.lnb_1d > li {position:relative;float:left;width:14.3%;}
	.lnb_1d > li:first-child {width:14.2%;}
		.lnb_1d > li > a {display:block;height:62px;line-height:62px;font-size:1.8em;letter-spacing:-0.025em;font-weight:500;text-align:center;color:#181818;border-right:1px solid #e2e8ed;}
		.lnb_1d > li:first-child > a {border-left:1px solid #e2e8ed;}
		.lnb_1d > li.actOn > a,
		.lnb_1d > li.overOn > a,
		.lnb_1d > li > a:hover {color:#0b80d1;}
			.lnb_2d {position:absolute;top:63px;width:100%;height:290px;text-align:center;z-index:9999;background:#fff;border-right:1px solid #e2e8ed;border-bottom:1px solid #2d64a7;}
			.lnb_1d > li:first-child .lnb_2d {border-left:1px solid #e2e8ed;}
			.lnb_2d {display:none;}
				.lnb_2d ul {display:block;margin:25px 20px;}
					.lnb_2d li {float:left;width:100%;margin-bottom:10px;}
					.lnb_2d li > a {display:block;font-size:1.4em;letter-spacing:-0.05em;font-weight:400;text-align:left;color:#555;}
					.lnb_2d li:first-child > a {margin-left:0;}
					.lnb_2d li.actOn a,
					.lnb_2d li a:hover {text-decoration:none;font-weight:400;color:#007acf;}
#lnb_2d_bg {position:absolute;top:63px;display:none;width:100%;height:290px;background:#fff;border-bottom:1px solid #2d64a7;}

/* snb */
.snbTitle {float:left;padding-top:50px;width:100%;height:130px;font-size:3em;letter-spacing:-0.05em;line-height:35px;text-align:center;font-weight:bold;color:#fff;}
.snbTitle {background:url(../images/common/snb_title_bg.png);}
.snbTitle.snbTitle2 {background:url(../images/common/snb_title_bg2.png);}
.snb {float:left;width:100%;}
.snb_1d {}
	.snb_1d > li {float:left;width:100%;background:#fff;border-bottom:1px solid #e5e5e5;}
	.snb.snb_1d > li.actOn,
	.snb.snb_1d > li.openLi,
	.snb.snb_1d > li:hover {background:url(../images/common/snb_d1_over_bg.png) no-repeat;}
	.snb2.snb_1d > li.actOn,
	.snb2.snb_1d > li.openLi,
	.snb2.snb_1d > li:hover {background:url(../images/common/snb_d1_over_bg2.png) no-repeat;}
		.snb_1d > li > a {display:block;padding:0 20px;width:100%;height:50px;line-height:50px;font-weight:400;color:#555;font-size:1.6em;letter-spacing:-0.04em;background:url(../images/common/snb_blt_plus_g.png) no-repeat 90% 50%;}
		.snb_1d > li.actOn > a,
		.snb_1d > li.openLi > a,
		.snb_1d > li:hover > a {color:#0073c3;background:url(../images/common/snb_blt_minus_b.png) no-repeat 90% 50%;}
		.snb_1d > li > a > i {float:right;line-height:32px;}
			.snb_2d {display:none;border-top:1px solid #e5e5e5;}
				.snb_2d > li {float:left;width:100%;background:#fff;}
					.snb_2d > li > a {display:block;padding:0 20px 0 60px;width:100%;height:25px;line-height:25px;color:#666;font-size:1.4em;letter-spacing:-0.04em;font-weight:300;background:url(../images/common/blt_bot_gray.png) no-repeat 40px 50%;}
					.snb_2d > li:first-child > a {margin-top:15px;}
					.snb_2d > li:last-child > a {margin-bottom:15px;}
					.snb_2d > li.actOn > a,
					.snb_2d > li > a:hover {color:#0073c3;}

/* sub */
#locationBox {display:inline-block;margin-right:20px;}
	#locationBox li {float:left;padding-left:45px;height:41px;line-height:41px;font-size:1.2em;letter-spacing:-0.05em;font-weight:300;color:#666;background:url(../images/common/location_bg.png) no-repeat 10px 55%}
	#locationBox li:first-child {background:none;}
	#locationBox li img {margin-top:-3px;width:13px;height:12px;}
.subPage_title {float:left;margin-bottom:40px;width:100%;}
	.subPage_title h2 {float:left;padding-right:20px;font-size:4.4em;letter-spacing:-0.05em;font-weight:500;color:#222;}
	.subPage_title .subPage_title_desc {float:left;margin-top:15px;padding-left:20px;line-height:18px;font-size:1.6em;letter-spacing:-0.05em;font-weight:300;color:#666;background:url(../images/common/subPage_title_bg.png) no-repeat 0 50%;}

/* calendar */
.calendarBox {display:inline-block;border:1px solid #ddd;background:#fafafa;}
	.writeTable input[type="text"].dateInput {float:left;width:80%;font-size:1em;text-align:center;background:transparent;border:0;}
	.blt_calendar {display:inline-block;width:30px;line-height:30px;text-align:center;cursor:pointer;}
		.blt_calendar img {width:15px;}

/* attach */
.attachBox {width:100%}
	.fileInputType {float:left;width:60%;padding:5px;border:1px solid #ccc;}
	.uploadFile {position:relative;float:left;margin-left:10px;width:100px;height:35px;line-height:35px;font-family:'malgun gothic';font-size:13px;color:#fff;text-align:center;white-space:nowrap;overflow:hidden;background:#5990e3;border-radius:3px;}
		.uploadFile input[type="file"] {position:absolute;top:0px;left:0px;width:100%;height:100%;opacity:0;cursor:pointer;}
	.attachGuide {float:left;margin-top:10px;margin-left:10px;font-family:'dotum';font-size:12px;color:#999;}

/* tab */
.tabBox {float:left;margin-bottom:20px;width:100%;}
	.tabBox li {float:left;}
	.tabBox li a {display:block;height:60px;line-height:60px;text-align:center;font-size:1.6em;letter-spacing:-0.025em;font-weight:400;color:#7e96ae;background:#f2f7fa;border:1px solid #ccd9e7;border-bottom:1px solid #509eec;}
	.tabBox li:last-child {height:60px;background:#fff;border:0;border-bottom:1px solid #509eec;}
	.tabBox li.actOn a,
	.tabBox li a:hover {color:#267ed6;background:#fff;border:1px solid #509eec;border-bottom:0;}
.tabBox2 {float:left;margin-bottom:20px;width:100%;}
	.tabBox2 li {float:left;background:#fff;}
	.tabBox2 li:first-child,
	.tabBox2 li:first-child a {border-radius:5px 0 0 5px;}
	.tabBox2 li:last-child,
	.tabBox2 li:last-child a {border-radius:0 5px 5px 0;}
	.tabBox2 li a {display:block;height:65px;line-height:60px;text-align:center;font-size:2.4em;letter-spacing:-0.025em;font-weight:400;color:#217cd7;border:3px solid #509eec;}
	.tabBox2 li.actOn,
	.tabBox2 li:hover {background:#509eec;}
	.tabBox2 li.actOn a,
	.tabBox2 li a:hover {color:#fff;border:3px solid #509eec;border-bottom:0;}

/* table */
.listTable {float:left;width:100%;}
	.listTable th,
	.listTable td {text-align:center;vertical-align:middle;border-right:0px solid #eaedee;}
	.listTable th:last-child,
	.listTable td:last-child {border-right:0;}
	.listTable th {padding:14px 10px;font-weight:400;font-size:1.4em;letter-spacing:-0.025em;color:#3779ba;background:#f7fbfc;border-bottom:1px solid #7eb9e3;}
	.listTable td {padding:10px 10px;font-size:1.3em;color:#333;border-bottom:1px solid #dedfe0;}
	.listTable td .listSubject {color:#333;}
	.listTable tr.actOn th .listSubject,
	.listTable tr.actOn td .listSubject,
	.listTable td a:hover {}
.writeTable {float:left;width:100%;}
	.writeTable th,
	.writeTable td {padding:8px 25px;font-size:1.3em;letter-spacing:-0.025em;border-right:1px solid #ddd;}
	.writeTable th:last-child,
	.writeTable td:last-child {border-right:0;}
	.writeTable th {font-weight:bold;text-align:center;vertical-align:middle;color:#222;background:#fafafa;border-bottom:1px solid #ddd;}
	.writeTable td {text-align:left;background:#fff;border-bottom:1px solid #ddd;}
	.writeTable td input[type="text"],
	.writeTable td textarea {background:#fafafa;}
.viewTable {float:left;width:100%;border-top:2px solid #198dde;}
	.viewTable th,
	.viewTable td {padding:15px 20px;border-right:1px solid #d3dbe0;}
	.viewTable th:last-child,
	.viewTable td:last-child {border-right:0;}
	.viewTable th {font-size:1.4em;letter-spacing:-0.05em;font-weight:400;text-align:center;color:#2e77bf;background:#f7fbfc;border-bottom:1px solid #d3dbe0;}
	.viewTable td {font-size:1.3em;letter-spacing:-0.025em;font-weight:300;text-align:center;color:#555;background:#fff;border-bottom:1px solid #d3dbe0;}
.viewTable2 {float:left;width:100%;border-top:2px solid #198dde;}
	.viewTable2 th,
	.viewTable2 td {border-right:1px solid #d3dbe0;}
	.viewTable2 th:last-child,
	.viewTable2 td:last-child {border-right:0;}
	.viewTable2 th {padding:10px 20px;font-size:1.4em;letter-spacing:-0.025em;font-weight:400;text-align:center;color:#2e77bf;background:#f7fbfc;border-bottom:1px solid #198dde;}
	.viewTable2 td {padding:15px 20px;font-family:"dotum";font-size:12px;letter-spacing:0;font-weight:300;text-align:center;color:#555;background:#fff;border-bottom:1px solid #d3dbe0;}
	.viewTable2 td.bdR {border-right:1px solid #d3dbe0;}
	.viewTable2 .bdB {border-bottom:1px solid #d3dbe0;}
		.viewCon {padding:20px 20px;min-height:200px;color:#333;line-height:30px;}
		.viewAttachList {}
			.viewAttachList li {float:left;padding:0 20px;background:url(../images/common/subPage_title_bg.png) no-repeat 0 50%;}
			.viewAttachList li:first-child {padding-left:0;background:none;}
			.viewAttachList li a {line-height:22px;font-size:13px;color:#777;}
			.viewAttachList li span {font-size:12px;color:#aaa;}
.viewTable3 {float:left;width:100%;border-top:2px solid #198dde;}
	.viewTable3 th,
	.viewTable3 td {padding:0px 10px 0px 10px;height:50px;vertical-align:middle;border-right:1px solid #d3dbe0;}
	.viewTable3 th:last-child,
	.viewTable3 td:last-child {border-right:0;}
	.viewTable3 th {font-size:1.4em;letter-spacing:-0.05em;font-weight:400;text-align:center;color:#2e77bf;background:#f7fbfc;border-bottom:1px solid #d3dbe0;}
	.viewTable3 td {font-size:1.3em;letter-spacing:-0.025em;font-weight:300;text-align:center;color:#555;background:#fff;border-bottom:1px solid #d3dbe0;}
	.viewTable3 td input[type="text"] {height:30px;line-height:30px;background:#f7f7f7;border:1px solid #e3e3e3;}
	td.td_tal {text-align:left;}
	.brdL {border-left:1px solid #d3dbe0;}
	.th_w th {border-bottom:1px solid #7eb9e3;}
	.th_w tr:first-child th {font-size:16px;font-weight:400;}
	.th_h th,
	.th_h td {border-right:1px solid #7eb9e3;}

/* slideListBox */
.slideListBox {float:left;width:100%;}
	.slideListBody > li {float:left;margin-bottom:2px;width:100%;border:1px solid #e1eaf0;border-radius:5px;}
	.slideListBody > li.openLine {}
	.slideListBody li.actOn {}
		.titleLine {float:left;width:100%;background:#f5f9fc;}
			.titleLine li {float:left;padding-top:15px;padding-bottom:20px;height:60px;background:#f5f9fc;text-align:center;border-right:0;}
				.titleLine li.tl_1 {padding-left:80px;background:url(../images/sub/blt_qna_q.png) no-repeat 45px 20px;}
				.titleLine li a {font-size:1.8em;letter-spacing:-0.025em;font-weight:300;color:#198dde;}
				.slideListBody > li.openLine .titleLine li a,
				.titleLine li:hover a {}
		.conLine {display:none;float:left;padding:20px 40px 30px 45px;width:100%;background:url(../images/common/list_btm_dot_bg.png) repeat-x;}
			.conLine .cl_1 {float:left;padding-left:40px;width:100%;line-height:22px;font-size:1.4em;letter-spacing:-0.05em;font-weight:300;color:#666;background:url(../images/sub/blt_qna_a.png) no-repeat 0 3px;}

/* btns */
.pageBtnBox {float:left;margin-top:20px;width:100%;}

.btnS1 {margin-left:15px;display:inline-block;padding-left:25px;padding-right:25px;height:40px;line-height:40px;border-radius:3px;font-weight:400;text-align:center;}
.btnS2 {display:inline-block;padding-left:25px;padding-right:25px;height:35px;line-height:35px;border-radius:3px;text-align:center;}

.blueBtn {font-size:18px;letter-spacing:0em;font-weight:400;color:#fff;background:#198dde;}
.blue2Btn {height:50px;line-height:50px;font-size:20px;letter-spacing:-0.025em;color:#fff;background:#6e74e1;}
.blue3Btn {height:25px;line-height:25px;font-size:12px;letter-spacing:-0.025em;color:#fff;background:#6e86e1;}
.blue4Btn {font-size:13px;color:#fff;font-family:"malgun gothic";background:#5990e3;}
a.blueBtn:hover,
a.blue2Btn:hover,
a.blue3Btn:hover {color:#fff;}

.goBtn {width:46px;height:16px;}

.downloadBtn {display:inline-block;padding:4px 20px;font-size:13px;letter-spacing:-0.025em;color:#fff;background:#6e74e1;border-radius:5px;}

.smBlueBtn {display:inline-block;padding:1px 2px 0 2px;font-family:"dotum";font-size:11px;letter-spacing:-0.075em;color:#4292f3;background:#f5f8fc;border:1px solid #cce0f7;}

/* divPopup */
.divPopupBg {display:none;position:fixed;width:100%;height:100%;background:#000;opacity:0.8;z-index:300;}
.divPopupBox {display:none;position:fixed;padding:20px;width:1000px;top:50%;left:50%;background:#fff;z-index:500;}
	.popHeader {float:left;width:100%;}
		.popHeader li {float:left;}
		.popHeader li:first-child {}
		.popHeader .popTitle {float:left;font-size:1.6em;}
		.popHeader li:last-child {float:right;}
		.closeIcon {width:16px;cursor:pointer;}
	.popContent {float:left;width:100%;padding:0 30px 30px 30px;}

/* footer */
#footer .wWrap {position:relative;text-align:left;}
	#bnb {width:100%;}
		#bnb li {display:inline-block;margin-right:20px;}
		#bnb li:last-child {margin-right:0;}
		#bnb li a {padding-right:20px;font-family:"Malgun Gothic";font-size:1.2em;font-weight:400;color:#fff;background:url(../images/common/footer_menu_bg.png) no-repeat 100% 70%;}
		#bnb li:last-child a {background:none;padding-right:0;}
		#bnb li a:hover {text-decoration:underline;color:#fff;}
	#footerInfo {width:100%;}
		#footerInfo > li {font-family:"Malgun Gothic";font-size:1.2em;color:#fff;}
		#footerInfo > li:first-child {margin:20px 0 0 0;}
			#footerInfo > li > ul > li{display:inline-block;margin-right:5px;}
			#footerInfo > li > ul > li:last-child {margin-right:0}
			#bottomLogo {display:inline-block;margin-right:5px;width:66px;}
	#bottomBanner {position:absolute;top:0;right:0;}

/* ie 용 스크롤 바 *********************************************/
html {	scrollbar-arrow-color: #efefef;
		scrollbar-Track-Color: #efefef;
		scrollbar-base-color: #dfdfdf;
		scrollbar-Face-Color: #dfdfdf;
		scrollbar-3dLight-Color: #dfdfdf;
		scrollbar-DarkShadow-Color: #dfdfdf;
		scrollbar-Highlight-Color: #dfdfdf;
		scrollbar-Shadow-Color: #dfdfdf
	}
/* Chrome, Safari용 스크롤 바 */
::-webkit-scrollbar {width:12px;height:12px;}
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {display:block;width:12px;height:12px;background:url() rgba(0,0,0,.05);}
::-webkit-scrollbar-track {background: rgba(0,0,0,.05);}
::-webkit-scrollbar-thumb {background: rgba(0,0,0,.1);}
/* ------------------------------------------------------------ */