/*
===============================================================================================
1.	버    전 : common.css
2.	작 성 자 : Ryu
3.	참    고 : Common
===============================================================================================
*/

/* common */
.subPageCon {}
.txtBox {float:left;font-size:1.4em;letter-spacing:-0.05em;line-height:28px;color:#555;}
.tableDesc {font-size:13px;letter-spacing:-0.05em;line-height:50px;color:#555;}
	.txtBox p {margin-top:40px;}
.pageDescTxt {line-height:30px;font-size:2em;letter-spacing:-0.025em;font-weight:300;color:#555;}
.dw {padding-left:20px;font-size:1.4em;letter-spacing:-0.025em;font-weight:400;color:#198dde;background:url(../images/common/icon_drop_water.png) no-repeat 0 3px;}
.arr {padding-left:15px;font-size:1.4em;letter-spacing:-0.025em;font-weight:300;color:#666;background:url(../images/common/icon_arrow.png) no-repeat 0 6px;}
.descT {font-size:1.4em;letter-spacing:-0.05em;font-weight:300;color:#555;}
.descT_b {color:#198dde;}

.subTitle1,
.subTitle2,
.subTitle3,
.subTitle4 {float:left;}
.subTitle1 .subTitle_t {padding-left:15px;font-size:1.6em;letter-spacing:-0.05em;font-weight:400;color:#666;background:url(../images/common/icon_drop_water.png) no-repeat 0 50%;}
.subTitle1 .subTitle_t2 {font-size:1.6em;letter-spacing:-0.05em;font-weight:300;color:#666;}
.subTitle2 .subTitle_t {font-size:1.8em;letter-spacing:-0.05em;font-weight:400;color:#333;}
	.subTitle2 .subTitle_t span {color:#666;font-weight:300;}
.subTitle3 .subTitle_t {padding-left:20px;font-size:1.8em;letter-spacing:-0.06em;font-weight:400;color:#198dde;background:url(../images/common/icon_drop_water.png) no-repeat 0 7px;}
.subTitle3 .subTitle_t2 {font-size:1.8em;letter-spacing:-0.05em;font-weight:400;color:#666;}
.subTitle4 {width:100%;text-align:center;background:url(../images/sub/subtitle_line_bg.png) no-repeat 0 50%;}
.subTitle4 .subTitle_t {padding:0 30px;font-size:3em;letter-spacing:-0.05em;font-weight:400;color:#222;background:#fff;}
.subTitle5 .subTitle_t {font-size:3em;letter-spacing:-0.05em;font-weight:400;color:#222;background:#fff;}
.gubun {display:inline-block;width:40px;background:url(../images/common/subPage_title_bg.png) no-repeat 50% 50%;}

.guideBox {float:left;padding:10px;width:100%;background:url(../images/sub/box_border_bg.png) no-repeat;}
	.guideBox_white {padding:20px 25px;background:#fff;}

/* pagingBoxWrap */
.pagingBoxWrap {float:left;width:100%;margin-top:20px;text-align:center;}
	.pagingBox {display:inline-block;}
		.pagingBox li {float:left;width:30px;height:30px;line-height:26px;text-align:center;cursor:pointer;}
			.pagingBox .numBtn {margin:0 2px;border:0px solid #ddd;}
			.pagingBox .numBtn a {display:block;width:100%;height:100%;font-size:1.2em;font-weight:normal;color:#888;}
			.pagingBox .abL, .pagingBox .abLL,
			.pagingBox .abR, .pagingBox .abRR {margin:0 2px;border:1px solid #ddd;}
			.pagingBox .angleBtn a {font-size:1.6em;color:#aaa;}
			.pagingBox .angleBtn:hover, .pagingBox .numBtn:hover, .pagingBox .actOn {background:#fff;}
			.pagingBox .angleBtn:hover a, .pagingBox .numBtn:hover a, .pagingBox .actOn a {color:#3779ba;text-decoration:underline;}

/* introduce */
#p_general {}
	#p_general .viewTable {border-left:1px solid #d3dbe0;border-right:1px solid #d3dbe0;}
	#p_general .viewTable th,
	#p_general .viewTable td {vertical-align:middle;}
	#p_general .viewTable tr:first-child th:first-child {padding-right:0;padding-left:0;font-size:2.4em;font-weight:300;}
	.viewTable tr.dotLine td {border-bottom:0;background:url(../images/common/list_btm_dot_bg.png) no-repeat 0 100%;}
	
#p_history {}
	#p_history .guideBox li {padding-left:15px;line-height:30px;font-size:1.6em;letter-spacing:-0.05em;font-weight:300;color:#666;background:url(../images/common/blt_dot_long.png) no-repeat 0 48%;}
	.timeLineBox {float:left;width:100%;height:650px;background:url(../images/sub/subP_history_img.png) no-repeat 50% 0;}
		.historyItem {}
		.hisItem03,
		.hisItem01 {float:left;width:350px;text-align:right;}
		.hisItem02 {float:right;width:385px;text-align:left;}
			.his_title {margin-bottom:20px;font-size:4.4em;letter-spacing:-0.05em;font-weight:300;color:#757575;}
				.historyItem li {margin-bottom:10px;}
					.his_date {font-size:1.4em;letter-spacing:-0.025em;font-weight:300;color:#999;}
					.his_rule {font-size:1.4em;letter-spacing:-0.05em;font-weight:300;color:#444;}
						.his_rule span {margin-right:5px;}
		.hisItem03 {margin-top:20px;}
		.hisItem02 {margin-top:140px;}
		.hisItem01 {margin-top:60px;}

#p_organize {}
	#p_organize .guideBox li {padding:20px 0;font-size:1.8em;letter-spacing:-0.025em;font-weight:300;color:#666;text-align:center;}
	.organizeBox {float:left;width:100%;background:url(../images/sub/subP_organize_line_bg.png) no-repeat 50% 50px;}
		.organizeBox a {display:inline-block;}
		.org_dep1 > li {float:left;width:100%;text-align:center;}
			.org_dep1 > li > a {margin-bottom:62px;width:287px;height:78px;line-height:78px;font-size:2.6em;letter-spacing:-0.05em;font-weight:400;color:#fff;background:url(../images/sub/subP_organize_bg1.gif) no-repeat;}
				.org_dep2 > li {float:left;width:240px;}
				.org_dep2 > li:nth-child(2) {margin-right:90px;margin-left:90px;}
					.org_dep2 > li > a {margin-bottom:22px;width:240px;height:58px;line-height:58px;font-size:2em;letter-spacing:-0.025em;font-weight:400;color:#fff;}
					.org_dep2 > li:nth-child(1) > a {background:url(../images/sub/subP_organize_bg2.gif) no-repeat;}
					.org_dep2 > li:nth-child(2) > a {background:url(../images/sub/subP_organize_bg3.gif) no-repeat;}
					.org_dep2 > li:nth-child(3) > a {background:url(../images/sub/subP_organize_bg4.gif) no-repeat;}
						.org_dep3 > li {float:left;width:100%;}
							.org_dep3 > li > a {margin-top:4px;width:100%;height:46px;line-height:46px;font-size:1.6em;letter-spacing:-0.025em;font-weight:300;color:#1a4370;text-align:center;background:#fafafa;border:1px solid #e8e8e8;border-radius:5px;}
	.organizeTable1 {}
		.organizeTable1 th, .organizeTable1 td {font-size:1.8em;border-bottom:1px solid #7eb9e3;}
	.organizeTable2 {}
		.organizeTable2 th {border-bottom:1px solid #7eb9e3;}
		.organizeTable2 td {font-size:1.3em;letter-spacing:0;vertical-align:middle;}

#p_charter {}
	#p_charter .guideBox li {padding:10px 20px;line-height:30px;font-size:1.6em;letter-spacing:-0.05em;font-weight:300;color:#666;}
	.charterDesc {float:left;padding:0 10px;}
		.charterDesc li {float:left;width:260px;}
		.charterDesc li:nth-child(2) {margin-right:50px;margin-left:50px;}
			.dropWater {float:left;padding-top:35px;width:51px;height:82px;font-size:2.6em;letter-spacing:-0.025em;font-weight:400;color:#fff;text-align:center;background:url(../images/sub/icon_drop_water_big.png) no-repeat;}
			.chrtT {float:left;padding-top:15px;padding-left:10px;width:209px;line-height:24px;font-size:1.4em;letter-spacing:-0.05em;font-weight:300;color:#555;}
	#p_charter h4 {float:left;margin-top:50px;width:100%;font-size:3.6em;letter-spacing:-0.05em;font-weight:400;color:#2a70b7;text-align:center;}
	#p_charter .pageDescTxt {float:left;width:100%;text-align:center;}
	#p_charter .tabBox2 li {width:50%;}
		#p_charter .tabBox2 li.actOn a,
		#p_charter .tabBox2 li a:hover {background:url(../images/sub/blt_check_w.png) no-repeat 60px 50%;}
	#p_charter #chtr_1 .tabBox li:first-child {width:300px;}
	#p_charter #chtr_1 .tabBox li {width:200px;}
		#p_charter #chtr_1 .tabBox li:first-child a {padding-top:10px;line-height:18px;}
	.tab2ConBox {float:left;width:100%;}
	.tabConBox {float:left;width:100%;padding:0 10px;}
		#chtr_1,
		#chtr_2,
		.tabConBox {display:none;}
		#chtr_1_1.tabConBox dl {float:left;width:50%;}
		#chtr_1_2.tabConBox dl {float:left;width:100%;}
			.tabConBox dt {float:left;width:100%;margin-top:25px;}
			.tabConBox dd {float:left;margin-top:10px;margin-left:20px;width:100%;}
		#chtr_1_4.tabConBox dl {float:left;width:100%;}
			#chtr_1_4 .viewTable th,
			#chtr_1_4 .viewTable td,
			#chtr_2_3 .viewTable th,
			#chtr_2_3 .viewTable td {vertical-align:middle;}
			#chtr_1_4 .viewTable th,
			#chtr_2_3 .viewTable th {border-bottom:1px solid #7eb9e3;}
			#chtr_1_4 .viewTable tr:first-child th,
			#chtr_2_3 .viewTable tr:first-child th {font-size:2.4em;letter-spacing:-0.025em;font-weight:300;color:#2a6298;}
			#chtr_1_4 .viewTable td:last-child,
			#chtr_2_3 .viewTable td:last-child {border-right:1px solid #d3dbe0;}
	#p_charter #chtr_2 .tabBox li:first-child {width:34%;}
	#p_charter #chtr_2 .tabBox li {width:33%;}

#p_publish_water {}
	#p_publish_water .tabBox li {width:33%;}
	#p_publish_water .tabBox li:last-child {width:34%;}
	.yearBox {float:left;width:100%;background:url(../images/common/subPage_title_bg.png) no-repeat 0 50%;}
		.yearBox li {float:left;}
			.yearBox li a {display:block;padding:0 20px;font-size:1.4em;letter-spacing:-0.025em;font-weight:300;color:#666;background:url(../images/common/subPage_title_bg.png) no-repeat 100% 50%;}
			.yearBox li.actOn a,
			.yearBox li a:hover {font-weight:600;color:#111;}
	#p_publish_water .viewTable th {border-bottom:1px solid #7eb9e3;}

#p_map {}
	.mapBox {float:left;padding:20px;width:100%;border:1px solid #bbb;}
		.mapPreview {width:100%;}
	.trafficInfoBox {}
		.trafficInfoBox dl {}
			.trafficInfoBox dt {margin:30px 0 10px 0;padding-left:25px;font-size:1.6em;letter-spacing:-0.025em;font-weight:400;color:#1b83cc;background:url(../images/common/icon_map_maker.png) no-repeat 0 50%;}
			.trafficInfoBox dd {font-size:1.4em;letter-spacing:-0.025em;font-weight:300;color:#666;}

/* fee */
#p_fee_check {}
	#p_fee_check .guideBox li {padding:10px 20px;line-height:30px;font-size:1.6em;letter-spacing:-0.05em;font-weight:300;color:#666;text-align:center;}

	.td_select .select * {font-family:'Noto Sans KR';}
	.td_select .select {float:left;margin-right:3px;color:#555;background:#fafafa;}
		.td_select .select .myValue {width:110px;font-size:13px;letter-spacing:-0.025em;color:#555;font-weight:300;text-indent:15px;border:1px solid #e3e3e3;}
		.td_select .select .ctrl {background:url(../images/common/blt_arrow_down_g.png) no-repeat 0% 55%;}
		.td_select .select.open .myValue,
		.td_select .select .myValue.outLine {border:1px solid #e3e3e3;}
		.td_select .select ul {border:1px solid #e3e3e3;border-top:0;}
		.td_select .select li {border:0}
			.td_select .select li a {font-size:13px;letter-spacing:0;color:#555;font-weight:300;text-indent:8px;text-decoration:none;background:#fafafa;}
			.td_select .select li.hover * {color:#555;background:#f0f0f0;}
		.td_select .select button.myValue,
		.td_select .select div.myValue {padding-left:0;height:30px;}
		.td_select .select ul {top:27px;}
		.td_select .select .ctrl,
		.td_select .select li,
		.td_select .select li a {height:27px;}
		.td_select .select li a {line-height:27px;}
	
	#p_fee_check .td_select .select .myValue {width:130px;}
	#p_fee_check .viewTable th {border-bottom:1px solid #7eb9e3;}
	#p_fee_check .viewTable3 th,
	#p_fee_check .viewTable3 td {border-right:1px solid #a0c7e2;}
	#p_fee_check .viewTable3 td:last-child {border-right:0;}
	#p_fee_check td .btnS1 {margin-left:0;}
	.detailTable td {padding:5px;}
	#popDetail .popT1 th,
	#popDetail .popT1 td {border-right:1px solid #a0c7e2;}
	#popDetail .popT1 td:last-child {border-right:0;}
	#popDetail .popT1 td {padding-left:20px;}
	#popDetail .popT2 td {color:#555;}
	#popDetail .popT2 tr:first-child th {border-bottom:1px solid #a0c7e2;}
	#popDetail .popT2 tr:last-child td {color:#333;}
	#popDetail .popT3 td {padding-left:50px;font-size:14px;}

#p_paykind {}
	#p_paykind .descT {float:left;padding:30px 30px 30px 30px;width:100%;line-height:25px;letter-spacing:-0.06em;background:#f7fbfc;border:1px solid #e6edf2;border-radius:5px;}
			#p_paykind .descT_b {float:left;margin-top:20px;margin-bottom:5px;font-size:16px;}
			#p_paykind .descT_t {float:left;}
		#p_paykind .txtBox {font-weight:300;}
		#p_paykind dt {margin:25px 0 5px 0;line-height:25px;font-weight:300;color:#198dde;}
		#p_paykind dd {margin:10px;font-weight:300;}

	#p_paykind .descImg {float:left;padding:30px;width:100%;text-align:center;border:1px solid #e6edf2;border-radius:5px;}
		#p_paykind .descImg img {width:691px;}

#p_fee_table {}
	#p_fee_table .tabBox li {width:33%;}
	#p_fee_table .tabBox li:first-child {width:34%;}
		.fee_table_1 {width:34%;}
		.fee_table_2 {float:right;width:60%;}
			.fee_table_1 th,
			.fee_table_2 th {padding:0;height:50px;vertical-align:middle;font-size:13px;line-height:14px;border-bottom:1px solid #7eb9e3;}
			.fee_table_1 tr:first-child th:first-child,
			.fee_table_2 tr:first-child th:first-child {height:60px;font-size:1.6em;letter-spacing:-0.025em;font-weight:400;}
			.fee_table_1 td,
			.fee_table_2 td {padding:5px;line-height:18px;vertical-align:middle;font-size:12px;font-weight:300;}
			.fee_table_2 td {padding:8px 5px;}
			.fee_table_2 .thCol {position:absolute;top:0;right:0;font-size:13px;}
			.fee_table_2 .col3 {color:#198dde;background:#f7fbfc;}
		.fee_table_3 {width:100%;}
			.fee_table_3 th {border-bottom:1px solid #a0c7e2;}
			.fee_table_3 th,
			.fee_table_3 td {vertical-align:middle; }
			.fee_table_3 .row2 td {color:#198dde;}

#p_fee_calcul {}
	#p_fee_calcul .guideBox li {padding:10px 20px;line-height:30px;font-size:1.6em;letter-spacing:-0.05em;font-weight:300;color:#666;}
	.calculBox {float:left;width:100%;}
		.calculBox li {float:left;margin-bottom:40px;width:100%;border:1px solid #e1eaf0;border-radius:5px;}
			.calculBox {}
				.calculQ {padding:20px 40px;background:#f5f9fc;}
					.calculQ {display:block;padding-left:40px;font-size:1.8em;letter-spacing:-0.025em;font-weight:300;color:#198dde;}
				.calculA {padding:20px 40px 30px 40px;background:url(../images/common/list_btm_dot_bg.png) repeat-x;}
					.calculA {display:block;}
						.calculA dt {margin-top:20px;line-height:22px;font-size:1.4em;letter-spacing:-0.05em;font-weight:300;color:#222;}
						.calculA dt:first-child {margin-top:0;}
						.calculA dd {margin-top:5px;padding-left:15px;line-height:22px;font-size:1.3em;letter-spacing:-0.05em;font-weight:300;color:#666;}

#p_fee_terms {}
	#p_fee_terms .td_select .select .myValue {width:180px;}
	.pageBtnBox .txtBox {font-size:13px;color:#666;font-weight:300;}
	.summaryT th,
	.summaryT td {line-height:60px;font-size:18px;}
	.summaryT td {color:#222;font-weight:400;}
	#p_fee_terms .gridL {float:left;margin-right:60px;width:570px;}
	#p_fee_terms .gridR {float:left;width:270px;}
		.gridR .gridR_t td {height:30px;}

/* info_water */
#p_facilities {}
	#p_facilities .tabBox li {width:33%;}
	#p_facilities .tabBox li:first-child {width:34%;}
	#p_facilities .viewTable2 th,
	#p_facilities .viewTable2 td {padding-top:0;padding-bottom:0;height:50px;vertical-align:middle;}
	#p_facilities .th_w th {border-right:1px solid #7eb9e3;}
	#p_facilities .th_w tr:first-child th:last-child {border-right:0;}

#p_mineral_info{}
	#p_mineral_info .tabBox li {width:33%;}
	#p_mineral_info .tabBox li:first-child {width:34%;}
	.mineralSpotBox {position:relative;float:left;padding:20px;width:100%;border:1px solid #bbb;}
		#fbg {background:#fbf9fa;}
			#fbg ul li {text-align:center;}
				#fbg ul li img {width:730px;}
		.mineralSpotBox .descBox {position:absolute;bottom:40px;left:40px;font-size:1.4em;letter-spacing:-0.025em;font-weight:400;color:#007092;}
			.mineralSpotBox .descBox img {display:inline-block;width:16px;height:16px;}
	.mineralSpot_InfoBox {float:left;width:100%;}
		.mineralSpot_InfoBox .viewTable tr:first-child td {font-size:20px;color:#3779ba;font-weight:400;}
		.mineralSpot_InfoBox .viewTable tr:first-child th,
		.mineralSpot_InfoBox .viewTable tr:first-child td {border-bottom:1px solid #7eb9e3;}
		.mineralSpot_InfoBox .viewTable th {vertical-align:middle;}
		.mineralSpot_InfoBox .viewTable td {padding-left:30px;vertical-align:middle;}
			.spotInfoBox {float:left;margin:20px 0;padding:15px;width:100%;border:1px solid #bbb;}
				.spotInfoBox li {position:relative;float:left;width:115px;height:115px;overflow:hidden;}
				.spotInfoBox li:nth-child(1) {margin-right:15px;width:505px;height:375px;}
				.spotInfoBox li:nth-child(1) img {width:100%;}
					.spotInfoBox li img {position:absolute;top:0;left:0;width:200px;}

#p_citywater_quality {}
	#p_citywater_quality .guideBox li {padding:10px 20px;line-height:30px;font-size:1.6em;letter-spacing:-0.05em;font-weight:300;color:#666;}
	#p_citywater_quality .viewTable th,
	#p_citywater_quality .viewTable td {vertical-align:middle;}
		#p_citywater_quality .yearBox {background:none;}
		#p_citywater_quality .yearBox li a {display:block;padding:0 20px;font-size:14px;letter-spacing:-0.025em;font-weight:400;color:#555;background:url(../images/common/subPage_title_bg.png) no-repeat 100% 50%;}
			#p_citywater_quality .yearBox li.actOn a,
			#p_citywater_quality .yearBox li a:hover {text-decoration:underline;color:#db1b18;}
	#p_citywater_quality .gridL {float:left;margin-right:40px;width:610px;}
		.reportPreviewBox {margin-top:30px;padding:20px;border:1px solid #d3dbe0;}
	#p_citywater_quality .gridR {float:left;width:250px;}
		#p_citywater_quality .gridR .btnS1 {margin-top:30px;margin-left:0;width:100%;}
		#p_citywater_quality .gridR .btnS1 span {padding-left:20px;background:url(../images/common/blt_double_arrow_r.png) no-repeat 0 11px;}

#p_outdoor_system {}
	#p_outdoor_system .subTitle3 {width:100%;}
	#p_outdoor_system .gridL {float:left;width:550px;border:1px solid #e6edf2;border-radius:3px 0 0 3px;}
		.outdoor_imgBox {text-align:center;}
	#p_outdoor_system .gridR {float:left;margin-left:-1px;width:351px;background:#f7fbfc;border:1px solid #e6edf2;border-radius:0 3px 3px 0;}
		.outdoor_txtBox {float:left;padding:30px;width:100%;}
			.outdoor_txtBox li {float:left;margin-top:15px;padding-left:10px;line-height:20px;font-size:1.3em;letter-spacing:-0.05em;font-weight:400;color:#555;background:url(../images/common/blt_dot_black.png) no-repeat 0 10px}
			.outdoor_txtBox li:first-child {margin-top:0;}
	.gridBox_1 {height:310px;}
		.gridBox_1 img {margin-top:45px;width:485px;}
	.gridBox_2 {height:382px;}
	#p_outdoor_system .viewTable3 td {height:40px;}
	#p_outdoor_system .viewTable3 tr:last-child td {background:#f7fbfc;}

/* info_sewer */
#p_public_sewer {}
	#p_public_sewer .viewTable th,
	#p_public_sewer .viewTable td {vertical-align:middle;}
	#p_public_sewer .viewTable td {padding:0;height:40px;font-size:1.2em;letter-spacing:-0.05em;}
		#p_public_sewer td.col1 {font-size:1.4em;}
		#p_public_sewer td.col1,
		#p_public_sewer td.col2 {color:#3779ba;}

#p_person_sewer {}
	#p_person_sewer .guideBox {float:left;}
		#p_person_sewer .guideBox_white {float:left;padding:45px;width:100%;}
			#p_person_sewer .guideTxt {float:left;margin-right:40px;width:480px;background:url(../images/common/height_dot_bg.png) repeat-y 100% 0;}
				#p_person_sewer .guideTxt h5 {font-size:2.2em;letter-spacing:-0.05em;font-weight:300;color:#198dde;}
				.guideTxt ul {margin-top:20px;}
					.guideTxt li {float:left;width:100%;line-height:30px;font-size:1.4em;letter-spacing:-0.05em;font-weight:300;color:#666;}
						.guideTxt li .num {float:left;margin-right:5px;width:20px;font-size:10px;letter-spacing:-0.05em;font-weight:500;color:#fff;text-align:center;background:url(../images/common/blt_num_bg.png) no-repeat 2px 8px;}
						.guideTxt li .numT {float:left;}
			#p_person_sewer .guideTxt2 {float:left;width:260px;}
				.alertbox {margin-bottom:15px;width:71px;}
				#p_person_sewer .txtBox {line-height:30px;}
	#p_person_sewer .subTitle3 {width:100%;}
	#p_person_sewer .viewTable th {border-bottom:1px solid #7eb9e3;}
	#p_person_sewer .viewTable .col1 {color:#3779ba;}
	#p_person_sewer .descT {float:left;padding:10px 40px 30px 40px;width:100%;line-height:22px;letter-spacing:-0.06em;background:#f7fbfc;border:1px solid #e1eaf0;border-radius:5px;}
		#p_person_sewer .descT_b {float:left;margin-top:20px;margin-bottom:5px;width:100%;font-size:14px;}
		#p_person_sewer .descT_t {float:left;padding-left:10px;width:100%;}
	#p_person_sewer .txtBox {font-size:1.6em;letter-spacing:-0.025em;font-weight:300;line-height:25px;}
	#p_person_sewer .gridL {float:left;margin-right:40px;width:430px;}
	#p_person_sewer .gridR {float:left;width:430px;}
		.inspectBox {float:left;margin-top:20px;}
		.inspectBox li {float:left;margin-bottom:10px;width:100%;background:url(../images/sub/blt_arrow_down_gray.png) no-repeat 50% 100%;}
			.inspectBox .stepBox1 {float:left;margin-bottom:20px;width:100%;border:1px solid #e6ecf0;border-radius:5px;}
				.inspectBox .stepName {float:left;padding-left:35px;width:100%;line-height:55px;font-size:1.5em;letter-spacing:-0.05em;color:#3c5875;font-weight:400;text-align:left;background:#f5f8fa;}
				.inspectBox .stepDesc {float:left;padding:20px 35px;width:100%;line-height:30px;font-size:1.4em;letter-spacing:-0.05em;color:#666;font-weight:300;text-align:left;}
		#p_person_sewer .gridR li:last-child {background:none;}
	#p_person_sewer .viewTable2 th,
	#p_person_sewer .viewTable2 td {padding:0;vertical-align:middle;}
	#p_person_sewer .viewTable2 th {line-height:60px;}
	#p_person_sewer .viewTable2 td {padding:10px 0;line-height:18px;}
	#p_person_sewer .viewTable2 td:last-child {border-left:1px solid #d3dbe0;}

#p_guide_levy .descT {float:left;padding:10px 40px 30px 40px;width:100%;line-height:22px;letter-spacing:-0.06em;background:#f7fbfc;border:1px solid #e1eaf0;border-radius:5px;}
		#p_guide_levy .descT_b {float:left;margin-top:20px;margin-bottom:5px;width:100%;font-size:18px;}
		#p_guide_levy .descT_t {float:left;margin-top:15px;margin-left:20px;width:100%;font-size:16px;color:#333;}
	#p_guide_levy .txtBox {letter-spacing:-0.025em;font-weight:300;line-height:22px;}
		#p_guide_levy .txtBox li {margin-bottom:10px;padding-left:10px;font-size:14px;color:#666;background:url(../images/common/blt_dot_hyphen.png) no-repeat 0 10px;}
	#p_guide_levy .strongBox {float:left;width:100%;border:1px solid #e6edf2;border-radius:3px;}
		.strongBox .sb_1,
		.strongBox .sb_2 {float:left;width:100%;height:75px;line-height:75px;color:#555;text-align:center;}
		.strongBox .sb_1 {font-size:2em;letter-spacing:-0.025em;}
		.strongBox .sb_2 {font-size:1.6em;letter-spacing:0;background:#f7fbfc;}

/* examine */
#p_examine_info {}
	#p_examine_info .guideBox li {padding:10px 20px;line-height:30px;font-size:1.6em;letter-spacing:-0.05em;font-weight:300;color:#666;}
	#p_examine_info .descT {float:left;margin-top:25px;padding-left:20px;width:100%;line-height:30px;}
	#p_examine_info .viewTable2 th,
	#p_examine_info .viewTable2 td {vertical-align:middle;}
	#p_examine_info .viewTable2 tr:first-child th:first-child {font-size:1.6em;letter-spacing:-0.025em;font-weight:400;color:#2a6298;}
	.i_pdf {width:21px;}
	.i_hwp {width:23px;}

#p_guide_drink {}
	#p_guide_drink .tabBox li {width:33%;}
	#p_guide_drink .tabBox li:last-child {width:34%;}
	#p_guide_drink .viewTable2 th,
	#p_guide_drink .viewTable2 td {vertical-align:middle;}
	#p_guide_drink .viewTable2 tr:first-child th:first-child {font-size:1.6em;letter-spacing:-0.025em;font-weight:400;color:#2a6298;}
	#p_guide_drink .viewTable2 td {padding:8px 20px;}

#p_result_ilsan {}
	#p_result_ilsan .guideBox li {padding:10px 20px;line-height:30px;font-size:1.6em;letter-spacing:-0.025em;font-weight:300;color:#666;}
	#p_result_ilsan .viewTable th {border-bottom:1px solid #7eb9e3;}
	#p_result_ilsan .viewTable td {padding:10px;vertical-align:middle;}
		#p_result_ilsan .select {margin-top:3px;}
		.monthBox {float:left;width:100%;}
			.monthBox li {float:left;}
				.monthBox li a {display:block;padding:0 15px;font-size:14px;letter-spacing:-0.025em;font-weight:300;color:#999;background:url(../images/common/subPage_title_bg.png) no-repeat 100% 50%;}
				.monthBox li:last-child a {background:none;}
				.monthBox li.acted a {color:#444;}
				.monthBox li.actOn a {color:#e33330;}
				.monthBox li a:hover {color:#111;}
	#p_result_ilsan .tabBox {margin-bottom:0;}
		#p_result_ilsan .tabBox li {width:33%;}
		#p_result_ilsan .tabBox li:last-child {width:34%;}
	#p_result_ilsan .resultViewBox {float:left;padding:20px 20px 50px 20px;width:100%;text-align:center;border:1px solid #509eec;border-top:0;}
		#p_result_ilsan .subTitle3 {float:none;}
			#p_result_ilsan .subTitle3 .subTitle_t,
			#p_result_ilsan .subTitle3 .subTitle_t2 {font-size:1.6em;font-weight:300;}

#p_result_faucet {}
	#p_result_faucet .guideBox li {padding:10px 20px;line-height:30px;font-size:1.6em;letter-spacing:-0.025em;font-weight:300;color:#666;text-align:center;}
	#p_result_faucet .viewTable th {border-bottom:1px solid #7eb9e3;}
	#p_result_faucet .viewTable td {padding:10px;vertical-align:middle;}
		#p_result_faucet .select {margin-top:3px;}
	#p_result_faucet .resultViewBox {float:left;padding:40px 20px;width:100%;text-align:center;border:10px solid #f5f5f5;}

#p_result_mineral {}
	#p_result_mineral .guideBox li {padding:10px 20px;line-height:30px;font-size:1.6em;letter-spacing:-0.025em;font-weight:300;color:#666;text-align:center;}
	#p_result_mineral .resultViewBox {float:left;margin-top:40px;padding:0;width:100%;}
		.spotLine {float:left;width:100%;border-top:2px solid #198dde;}
			.spotLine li {float:left;width:50%;height:40px;line-height:40px;border-bottom:1px solid #e0e6e9;}
			.spotLine li:nth-child(2n+1) {border-right:1px solid #e0e6e9;}
				.sl1, .sl2, .sl3, .sl4 {float:left;font-size:1.3em;letter-spacing:-0.025em;font-weight:300;color:#333;}
				.sl1 {width:15%;padding-right:20px;text-align:right;color:#666;}
				.sl2 {width:40%;}
				.sl3 {width:20%;text-align:center;}
				.sl4 {width:25%;}
				.sl4 img {width:81px;}

#p_pollution_why {}
		#p_pollution_why .tabBox li {width:25%;}
		#p_pollution_why .subTitle3 {float:left;margin-top:30px;width:100%;}
		#p_pollution_why .descT {float:left;margin-top:10px;padding:20px;width:100%;line-height:25px;letter-spacing:-0.06em;color:#666;background:#f9f9f9;}

/* consense */
#p_curriculum {}
	.curriculumBox {float:left;margin-top:50px;width:100%;}
		.curriculumBox li {float:left;}
			.curriculumBox .stepBox1 {margin-right:15px;margin-bottom:30px;padding-right:30px;width:300px;height:155px;background:url(../images/sub/stepbox_bg1.png) no-repeat;}
			.curriculumBox .stepBox2 {margin-bottom:30px;width:270px;height:155px;background:url(../images/sub/stepbox_bg2.png) no-repeat;}
				.curriculumBox .stepName {float:left;width:100%;line-height:50px;font-size:1.6em;letter-spacing:-0.05em;color:#198dde;font-weight:400;text-align:center;}
				.curriculumBox .stepDesc {float:left;padding-top:20px;width:100%;line-height:20px;font-size:1.4em;letter-spacing:-0.05em;color:#666;font-weight:300;text-align:center;}

#p_saving {}
	#p_saving .guideBox li {padding:10px 0;line-height:30px;font-size:1.8em;letter-spacing:-0.025em;font-weight:300;color:#666;text-align:center;}
	.savingStepBox {float:left;margin-top:50px;width:100%;}
		.savingStepBox > li {float:left;width:430px;border:1px solid #e6ecf0;border-radius:5px;}
			.stepCard {float:left;padding:30px 0 30px 30px;width:100%;height:250px;background:#f5f8fa;}
				.stepCard .stepTitle {font-size:2.4em;letter-spacing:-0.05em;font-weight:400;color:#3c5875;background:url(../images/sub/stepcard_title_bg.png) no-repeat 100%; 50%;}
				.stepCard h2 {margin-top:30px;margin-bottom:15px;font-size:2em;letter-spacing:-0.05em;font-weight:400;color:#3082d4;}
				.stepCard .txtBox {line-height:22px;color:#37608a;}
			.stepCard_w {float:left;padding:30px 30px 20px 30px;width:100%;height:145px;background:#fff;}
				.stepCard_w li{margin-bottom:5px;padding-left:15px;line-height:20px;font-size:1.4em;letter-spacing:-0.025em;font-weight:300;color:#666;background:url(../images/common/blt_dot_gray.png) no-repeat 0 8px;}

#p_leakage {}
	#p_leakage .guideBox {}
	#p_leakage .guideBox_white {float:left;padding:45px;width:100%;}
		#p_leakage .guideImg {float:left;margin-right:50px;width:242px;}
		#p_leakage .guideTxt {float:left;width:490px;}
			#p_leakage .guideTxt h5 {font-size:2.2em;letter-spacing:-0.05em;font-weight:300;color:#353535;}
	#p_leakage .subTitle5 {float:left;width:100%;}
	.leakage_diag {float:left;width:100%;}
		.leakage_diag li {position:relative;float:left;}
		.leakage_diag .diag_LI_1 {width:210px;height:210px;background:url(../images/sub/leakage_bg.png) no-repeat;}
			.dropWater {margin-top:10px;margin-left:80px;}
			.diagT {float:left;width:100%;font-size:1.4em;letter-spacing:-0.05em;font-weight:300;color:#235a90;text-align:center;}
		.leakage_diag .diag_LI_2 {width:20px;height:210px;background:url(../images/common/arrow_right_blue.png) no-repeat 50%;}
	.leakage_text {float:left;margin-top:20px;width:100%;}
		.leakage_text li {float:left;margin-bottom:10px;width:100%;}
			.leakT_h {float:left;margin-right:5px;padding-left:20px;font-size:1.6em;letter-spacing:-0.025em;font-weight:300;color:#198dde;background:url(../images/common/icon_drop_water.png) no-repeat 0 3px;}
			.leakT_b {float:left;font-size:1.6em;letter-spacing:-0.025em;font-weight:300;color:#666;}

#p_gauge {}
	#p_gauge .subTitle3 {float:left;margin-top:30px;margin-bottom:10px;width:100%;}
		#p_gauge .subTitle3 .subTitle_t {font-size:2.2em;background-position:0 10px;}
	.txtBox_info li {float:left;margin:0 10px 20px 10px;padding-left:15px;font-size:1.4em;letter-spacing:-0.025em;font-weight:300;color:#555;background:url(../images/common/subPage_title_bg.png) no-repeat 0 50%;}
	.txtBox_info li:first-child {background:none;margin-left:0;padding-left:0;}
	#p_gauge .descT {float:left;padding:10px 40px 30px 40px;width:100%;line-height:22px;letter-spacing:-0.06em;background:#f7fbfc;border:1px solid #e1eaf0;border-radius:5px;}
		#p_gauge .descT_b {float:left;margin-top:20px;margin-bottom:5px;font-size:16px;}
		#p_gauge .descT_t {float:left;padding-left:10px;}
	#p_gauge .txtBox {font-size:1.6em;letter-spacing:-0.025em;font-weight:300;line-height:25px;}

#p_citywater {}
	.qnaBox {float:left;width:100%;}
		.qnaBox li {float:left;margin-bottom:40px;width:100%;border:1px solid #e1eaf0;border-radius:5px;}
			.qnaLine {}
				.qnaQ {padding:20px 40px;background:#f5f9fc;}
					.qnaQ span {display:block;padding-left:30px;font-size:1.8em;letter-spacing:-0.025em;font-weight:300;color:#198dde;background:url(../images/sub/blt_qna_q.png) no-repeat 0 3px;}
				.qnaA {padding:20px 40px 30px 40px;background:url(../images/common/list_btm_dot_bg.png) repeat-x;}
					.qnaA span {display:block;padding-left:30px;line-height:22px;font-size:1.4em;letter-spacing:-0.05em;font-weight:300;color:#666;background:url(../images/sub/blt_qna_a.png) no-repeat 0 3px;}

#p_pollution {}
	#p_pollution .tabBox li{width:33%;}
	#p_pollution .tabBox li:last-child{width:34%;}
	#p_pollution .subTitle3 {float:left;margin-top:30px;margin-bottom:10px;width:100%;}
		#p_pollution .subTitle3 .subTitle_t {font-size:2.2em;background-position:0 10px;}
	.txtBox_info li {float:left;margin:0 10px 20px 10px;padding-left:15px;font-size:1.4em;letter-spacing:-0.025em;font-weight:300;color:#555;background:url(../images/common/subPage_title_bg.png) no-repeat 0 50%;}
	.txtBox_info li:first-child {background:none;margin-left:0;padding-left:0;}
	#p_pollution .descT {float:left;padding:10px 40px 30px 40px;width:100%;line-height:25px;letter-spacing:-0.06em;background:#f7fbfc;}
		#p_pollution .descT_b {float:left;margin-top:20px;margin-bottom:5px;font-size:16px;}
		#p_pollution .descT_t {float:left;}
	#p_pollution .txtBox {font-weight:300;}
	.descUl {float:left;margin-left:20px;width:100%;}
		.descUl li {float:left;padding-left:12px;width:100%;font-size:1.4em;letter-spacing:-0.025em;line-height:28px;font-weight:300;color:#555;background:url(../images/common/blt_dot_blue.png) no-repeat 0 12px;}
			.dulh {float:left;}
			.dulc {float:left;margin-left:5px;width:70%;}

#p_pollution_reason {}
	#p_pollution_reason .viewTable th {border-bottom:1px solid #7eb9e3;}
	#p_pollution_reason .tabBox li{width:33%;}
	#p_pollution_reason .tabBox li:last-child{width:34%;}
	#p_pollution_reason .subTitle3 {float:left;margin-top:30px;margin-bottom:10px;width:100%;}
		#p_pollution_reason .subTitle3 .subTitle_t {font-size:2.2em;background-position:0 10px;}
	#p_pollution_reason .descT {float:left;padding:10px 40px 30px 40px;width:100%;line-height:25px;letter-spacing:-0.06em;background:#f7fbfc;border-radius:5px;}
		#p_pollution_reason .descT_b {float:left;margin-top:20px;margin-bottom:5px;font-size:16px;}
		#p_pollution_reason .descT_t {float:left;}
	#p_pollution_reason .txtBox {font-weight:300;}
	#p_pollution_reason dt {margin:25px 0 5px 0;line-height:25px;font-weight:300;color:#198dde;}
	#p_pollution_reason dd {margin:5px;font-weight:300;}
	.descDl {float:left;margin-top:20px;width:100%;}
		#p_pollution_reason .descDl dt {float:left;margin:5px;padding-left:12px;width:100%;letter-spacing:-0.025em;line-height:28px;background:url(../images/common/blt_dot_blue.png) no-repeat 0 12px;}
		#p_pollution_reason .descDl dd {margin-left:20px;}

/* appeal */
#p_notice_list {}
	#p_notice_list .subPage_title_desc {margin-top:5px;}
	.listSearchBox {float:right;margin-bottom:10px;}
	.listSearchBox .select * {font-family:'Noto Sans KR';}
	.listSearchBox .select {float:left;margin-right:3px;color:#555;background:#fafafa;}
		.listSearchBox .select .myValue {width:110px;font-size:13px;letter-spacing:-0.025em;color:#555;font-weight:300;text-indent:15px;border:1px solid #e3e3e3;}
		.listSearchBox .select .ctrl {background:url(../images/common/blt_arrow_down_g.png) no-repeat 0% 55%;}
		.listSearchBox .select.open .myValue,
		.listSearchBox .select .myValue.outLine {border:1px solid #e3e3e3;}
		.listSearchBox .select ul {border:1px solid #e3e3e3;border-top:0;}
		.listSearchBox .select li {border:0}
			.listSearchBox .select li a {font-size:13px;letter-spacing:0;color:#555;font-weight:300;text-indent:8px;text-decoration:none;background:#fafafa;}
			.listSearchBox .select li.hover * {color:#555;background:#f0f0f0;}
		.listSearchBox .select button.myValue,
		.listSearchBox .select div.myValue {padding-left:0;height:30px;}
		.listSearchBox .select ul {top:27px;}
		.listSearchBox .select .ctrl,
		.listSearchBox .select li,
		.listSearchBox .select li a {height:27px;}
		.listSearchBox .select li a {line-height:27px;}

	.listSearchBox .searchWrap {float:left;position:relative;display:inline-block;border:1px solid #e3e3e3;}
		.listSearchBox .searchWrap input[type="text"] {float:left;width:190px;height:28px;line-height:24px;text-align:left;font-size:13px;letter-spacing:-0.025em;color:#555;font-weight:300;border:0;background:#fafafa;}
		.listSearchBox .searchWrap input[type="text"]:focus {}
		.listSearchBox .listSearchBtn {float:left;margin-left:4px;width:32px;height:28px;line-height:46px;}
		.listSearchBox .listSearchBtn img {float:left;}

		#p_notice_list .col2 {}
		#p_notice_list .col3 {color:#666;}
		#p_notice_list .col1,
		#p_notice_list .col4,
		#p_notice_list .col5  {font-size:11px;color:#666;}

#p_notice_view {}
	#p_notice_view .subPage_title_desc {margin-top:5px;}
	#p_notice_view .viewConBox tr:first-child td {font-size:18px;}
	.relatedBox {border-top:0;}
		.relatedBox a {color:#777;}

#p_faq_list {}
