@charset "utf-8";

/*
===============================================================================================
1.	버    전 : layout.css
2.	작 성 자 : Ryu
3.	참    고 : Layout
===============================================================================================
*/

#wrap {width:100%;}
.wWrap {width:90%;padding-right:5%;padding-left:5%;}

/* common */

@media only screen and (max-width:319px){

}

@media only screen and (min-width:320px) and (max-width:639px){

}

@media only screen and (min-width:640px) and (max-width:999px){

}

@media only screen and (min-width:1000px){

}





